docker/data/xsd/energyml/common/v2.0/xsd_schemas/MeasureType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/commonv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" elementFormDefault="qualified" version="2.0">
	<xs:annotation>
		<xs:documentation>These types represent numeric quantities with a unit of measure implemented as a uom attribute. The units are gathered into single quantity class which represents a group of units. The unit symbols appropriate for the class are captured as enumerated lists. The implementation of this is to develop a type for each uom class that is a union of a standard list, the unknown value, and the Other: extension. Additional files will contain these structures.
                                </xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="QuantityClass.xsd"/>
	<xs:include schemaLocation="BaseTypes.xsd"/>
	<xs:complexType name="PressureSquaredMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:PressureSquaredUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForceLengthPerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ForceLengthPerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AmountOfSubstancePerTimePerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:AmountOfSubstancePerTimePerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimePerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimePerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthPerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:LengthPerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TemperatureIntervalMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:TemperatureIntervalUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimePerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimePerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimePerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimePerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PermeabilityLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:PermeabilityLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ThermalInsulanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ThermalInsulanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForceAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ForceAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:EnergyUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="IlluminanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:IlluminanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ForceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="RadiantIntensityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:RadiantIntensityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PowerPerPowerMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:PowerPerPowerUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DimensionlessMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:DimensionlessUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="HeatTransferCoefficientMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:HeatTransferCoefficientUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="APINeutronMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:APINeutronUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticVectorPotentialMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MagneticVectorPotentialUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LinearAccelerationMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:LinearAccelerationUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticFluxMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MagneticFluxUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumetricThermalExpansionMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:VolumetricThermalExpansionUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="HeatFlowRateMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:HeatFlowRateUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MassPerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerMassMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerMassUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MolarVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MolarVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricConductanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ElectricConductanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalPressureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalPressureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AreaPerAmountOfSubstanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:AreaPerAmountOfSubstanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:LengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MassPerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TemperatureIntervalPerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:TemperatureIntervalPerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AmountOfSubstancePerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:AmountOfSubstancePerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AmountOfSubstanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:AmountOfSubstanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TimePerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:TimePerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalMassTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalMassTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForcePerForceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ForcePerForceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LinearThermalExpansionMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:LinearThermalExpansionUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyPerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:EnergyPerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TemperatureIntervalPerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:TemperatureIntervalPerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ThermalConductanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ThermalConductanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SolidAngleMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:SolidAngleUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyLengthPerTimeAreaTemperatureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:EnergyLengthPerTimeAreaTemperatureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PowerMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:PowerUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerRotationMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerRotationUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricChargePerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ElectricChargePerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LightExposureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:LightExposureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricCurrentMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ElectricCurrentUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LuminousFluxMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:LuminousFluxUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="HeatCapacityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:HeatCapacityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricResistancePerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ElectricResistancePerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AbsorbedDoseMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:AbsorbedDoseUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TemperatureIntervalPerPressureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:TemperatureIntervalPerPressureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AttenuationPerFrequencyIntervalMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:AttenuationPerFrequencyIntervalUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ThermalResistanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ThermalResistanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AnglePerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:AnglePerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthPerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:LengthPerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MassPerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyPerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:EnergyPerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AreaPerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:AreaPerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReluctanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ReluctanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ThermodynamicTemperatureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ThermodynamicTemperatureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PermittivityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:PermittivityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PressureTimePerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:PressureTimePerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DipoleMomentMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:DipoleMomentUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="RadianceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:RadianceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AreaPerMassMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:AreaPerMassUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyPerMassPerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:EnergyPerMassPerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricCurrentDensityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ElectricCurrentDensityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerMassMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MassPerMassUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DataTransferSpeedMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:DataTransferSpeedUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticDipoleMomentMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MagneticDipoleMomentUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerEnergyMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MassPerEnergyUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticPermeabilityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MagneticPermeabilityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="APIGravityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:APIGravityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:VolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimePerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimePerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimePerPressureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimePerPressureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:TimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MomentOfForceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MomentOfForceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LuminanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:LuminanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForcePerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ForcePerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MolarHeatCapacityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MolarHeatCapacityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DigitalStorageMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:DigitalStorageUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricChargeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ElectricChargeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LuminousIntensityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:LuminousIntensityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MolarEnergyMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MolarEnergyUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthPerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:LengthPerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SecondMomentOfAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:SecondMomentOfAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticFluxDensityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MagneticFluxDensityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="QuantityOfLightMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:QuantityOfLightUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LuminousEfficacyMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:LuminousEfficacyUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AreaPerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:AreaPerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumeFlowRatePerVolumeFlowRateMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:VolumeFlowRatePerVolumeFlowRateUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MomentumMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MomentumUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PowerPerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:PowerPerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ThermalDiffusivityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ThermalDiffusivityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LogarithmicPowerRatioPerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:LogarithmicPowerRatioPerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SpecificHeatCapacityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:SpecificHeatCapacityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PotentialDifferencePerPowerDropMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:PotentialDifferencePerPowerDropUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MomentOfInertiaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MomentOfInertiaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerTimePerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MassPerTimePerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MolecularWeightMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MolecularWeightUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ActivityOfRadioactivityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ActivityOfRadioactivityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SignalingEventPerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:SignalingEventPerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FrequencyMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:FrequencyUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FrequencyIntervalMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:FrequencyIntervalUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CapacitanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:CapacitanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricalResistivityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ElectricalResistivityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MassLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KinematicViscosityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:KinematicViscosityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InductanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:InductanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TimePerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:TimePerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectromagneticMomentMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ElectromagneticMomentUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyPerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:EnergyPerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricChargePerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ElectricChargePerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumetricHeatTransferCoefficientMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:VolumetricHeatTransferCoefficientUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PressurePerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:PressurePerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TimePerMassMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:TimePerMassUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DynamicViscosityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:DynamicViscosityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalElectricPotentialDifferenceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalElectricPotentialDifferenceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricChargePerMassMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ElectricChargePerMassUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="APIGammaRayMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:APIGammaRayUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DiffusionCoefficientMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:DiffusionCoefficientUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricPotentialDifferenceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ElectricPotentialDifferenceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="IsothermalCompressibilityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:IsothermalCompressibilityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerVolumePerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MassPerVolumePerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PressurePerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:PressurePerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForcePerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ForcePerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AmountOfSubstancePerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:AmountOfSubstancePerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthPerTemperatureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:LengthPerTemperatureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimeLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimeLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PressureSquaredPerForceTimePerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:PressureSquaredPerForceTimePerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AnglePerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:AnglePerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthPerPressureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:LengthPerPressureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ThermalConductivityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ThermalConductivityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MassUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NormalizedPowerMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:NormalizedPowerUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LogarithmicPowerRatioMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:LogarithmicPowerRatioUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AngularAccelerationMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:AngularAccelerationUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalMassMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalMassUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalForceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalForceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PlaneAngleMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:PlaneAngleUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyLengthPerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:EnergyLengthPerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyPerMassMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:EnergyPerMassUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AngularVelocityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:AngularVelocityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricConductivityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ElectricConductivityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AmountOfSubstancePerAmountOfSubstanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:AmountOfSubstancePerAmountOfSubstanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricFieldStrengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ElectricFieldStrengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PowerPerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:PowerPerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticFluxDensityPerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MagneticFluxDensityPerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PressureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:PressureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimePerPressureLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimePerPressureLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticFieldStrengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MagneticFieldStrengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PermeabilityRockMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:PermeabilityRockUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DoseEquivalentMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:DoseEquivalentUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerTimePerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MassPerTimePerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerPressureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerPressureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MassPerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AmountOfSubstancePerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:AmountOfSubstancePerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TimePerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:TimePerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AreaPerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:AreaPerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricResistanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:ElectricResistanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:AreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthPerMassMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:LengthPerMassUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MobilityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:Measure">
				<xs:attribute name="uom" use="required" type="eml:MobilityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
