docker/data/xsd/energyml/resqml/v2.2_dev3/xsd_schemas/Interpretations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/resqmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:resqml="http://www.energistics.org/energyml/data/resqmlv2" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" elementFormDefault="qualified" version="2.2">
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics Product License Agreement at
			http://www.energistics.org/product-license-agreement
			Use of this file constitutes agreement with the Energistics Product License Agreement.
			Copyright (c) 2017 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
	<xs:annotation>
		<xs:documentation>This package contains the main classes used to define and exchange data for geologic interpretations in RESQML. 
RESQML uses the definition of David Gawith, which explains an interpretation as a single consistent description of a feature. An interpretation is subjective and very strongly tied to the intellectual activity of the project team members. The initial curiosity and reasoning of the people on the project team initiates the early pre-screening campaign (remote sensing, surveys). They make hypotheses that consist of as many interpretations as necessary to describe the features (Gawith and Gutteridge 2007). 
NOTE: The formal name is actually "feature-interpretation" and many of the class names use this full term. For conciseness of documentation, we use simply "interpretation" where this usage is not confusing.
RESQML now uses the term “interpretation” instead of alternative terms that were used in V1.1, such as “version” or “opinion".
Most of the information contained as attributes or enumerations in individual interpretation or organization interpretation will help users understand how the representations of the geological objects should be built or have been built, if the representation is already associated to the given interpretation.</xs:documentation>
	</xs:annotation>
	<!--														-->
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.2/xsd_schemas/EmlAllObjects.xsd"/>
	<!--														-->
	<xs:include schemaLocation="Wells.xsd"/>
	<xs:include schemaLocation="Features.xsd"/>
	<xs:simpleType name="BoundaryRelation">
		<xs:annotation>
			<xs:documentation>An attribute that characterizes the stratigraphic relationships of a horizon with the stratigraphic units that it bounds. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="conformable">
				<xs:annotation>
					<xs:documentation>If used uniquely, then it means the horizon is conformable above and below.
If used with unconformity, then it means partial unconformity.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="unconformable below and above"/>
			<xs:enumeration value="unconformable above">
				<xs:annotation>
					<xs:documentation>If used with conformable, then it means partial unconformity.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="unconformable below">
				<xs:annotation>
					<xs:documentation>If used with conformable, then it means partial unconformity.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContactMode">
		<xs:annotation>
			<xs:documentation>An optional second qualifier that may be used when describing binary contact interpretation parts. (See also BinaryContactInterpretationPart and the RESQML Technical Usage Guide.)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="conformable"/>
			<xs:enumeration value="extended"/>
			<xs:enumeration value="unconformable"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContactSide">
		<xs:annotation>
			<xs:documentation>Enumeration that specifies the location of the contacts, chosen from the attributes listed below. For example, if you specify contact between a horizon and a fault, you can specify if the contact is on the foot wall side or the hanging wall side of the fault, and if the fault is splitting both sides of a horizon or the older side only. 


From Wikipedia: http://en.wikipedia.org/wiki/Foot_wall  
CC-BY-SA-3.0-MIGRATED; GFDL-WITH-DISCLAIMERS
Released under the GNU Free Documentation License.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="footwall">
				<xs:annotation>
					<xs:documentation>The footwall side of the fault. See picture.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="hanging wall"/>
			<xs:enumeration value="north">
				<xs:annotation>
					<xs:documentation>For a vertical fault, specification of the north side.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="south">
				<xs:annotation>
					<xs:documentation>For a vertical fault, specification of the south side. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="east">
				<xs:annotation>
					<xs:documentation>For a vertical fault, specification of the east side. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="west">
				<xs:annotation>
					<xs:documentation>For a vertical fault, specification of the west side. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="younger">
				<xs:annotation>
					<xs:documentation>Indicates that a fault splits a genetic boundary on its younger side. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="older">
				<xs:annotation>
					<xs:documentation>Indicates that a fault splits a genetic boundary on its older side. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="both">
				<xs:annotation>
					<xs:documentation>Indicates that a fault splits both sides of a genetic feature.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContactVerb">
		<xs:annotation>
			<xs:documentation>Enumerations for the verbs that can be used to define the impact on the construction of the model of the geological event that created the binary contact. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="stops"/>
			<xs:enumeration value="interrupts">
				<xs:annotation>
					<xs:documentation>Operation on which an “unconformable” genetic boundary interpretation interrupts another genetic boundary interpretation or a stratigraphic unit interpretation. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="crosses">
				<xs:annotation>
					<xs:documentation>Defines if a tectonic boundary interpretation crosses another tectonic boundary interpretation. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DepositionMode">
		<xs:annotation>
			<xs:documentation>Specifies the position of the stratification of a stratigraphic unit with respect to its top and bottom boundaries.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="proportional between top and bottom"/>
			<xs:enumeration value="parallel to bottom"/>
			<xs:enumeration value="parallel to top"/>
			<xs:enumeration value="parallel to another boundary"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Domain">
		<xs:annotation>
			<xs:documentation>An enumeration that specifies in which domain the interpretation of an AbstractFeature has been performed: depth, time, or mixed (= depth + time).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="depth">
				<xs:annotation>
					<xs:documentation>Position defined by measurements in the depth domain.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="time">
				<xs:annotation>
					<xs:documentation>Position based on geophysical measurements in two-way time (TWT).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mixed">
				<xs:annotation>
					<xs:documentation>depth + time</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GeologicUnitMaterialEmplacement">
		<xs:annotation>
			<xs:documentation>The enumerated attributes of a horizon.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="intrusive"/>
			<xs:enumeration value="non-intrusive"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HorizonStratigraphicRole">
		<xs:annotation>
			<xs:documentation>Interpretation of the stratigraphic role of a picked horizon (chrono, litho or bio).
Here the word “role” is a business term which doesn’t correspond to an entity dependent from an external property but simply characterizes a kind of horizon.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="chronostratigraphic"/>
			<xs:enumeration value="lithostratigraphic"/>
			<xs:enumeration value="biostratigraphic"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderingCriteria">
		<xs:annotation>
			<xs:documentation>Enumeration used to specify the order of an abstract stratigraphic organization or a structural organization interpretation. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="age">
				<xs:annotation>
					<xs:documentation>From youngest to oldest period (increasing age).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="apparent depth">
				<xs:annotation>
					<xs:documentation>From surface to subsurface.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="measured depth">
				<xs:annotation>
					<xs:documentation>From well head to wellbore bottom/total depth (TD). </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SequenceStratigraphySurface">
		<xs:annotation>
			<xs:documentation>The enumerated attributes of a horizon.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="flooding"/>
			<xs:enumeration value="ravinement"/>
			<xs:enumeration value="maximum flooding"/>
			<xs:enumeration value="transgressive"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Shape3d">
		<xs:annotation>
			<xs:documentation>Enumeration characterizing the 3D shape of a geological unit.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="sheet"/>
			<xs:enumeration value="dyke"/>
			<xs:enumeration value="dome"/>
			<xs:enumeration value="mushroom"/>
			<xs:enumeration value="channel"/>
			<xs:enumeration value="delta"/>
			<xs:enumeration value="dune"/>
			<xs:enumeration value="fan"/>
			<xs:enumeration value="reef"/>
			<xs:enumeration value="wedge"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Shape3dExt">
		<xs:union memberTypes="resqml:Shape3d eml:EnumExtensionPattern"/>
	</xs:simpleType>
	<xs:simpleType name="StratigraphicUnitKind">
		<xs:annotation>
			<xs:documentation>Attribute specifying the criteria that are considered for defining various kinds of stratigraphic units (age, lithology, fossil content).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="chronostratigraphic"/>
			<xs:enumeration value="lithostratigraphic"/>
			<xs:enumeration value="biostratigraphic"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ThrowKind">
		<xs:annotation>
			<xs:documentation>Enumeration that characterizes the type of discontinuity corresponding to a fault.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="reverse"/>
			<xs:enumeration value="normal"/>
			<xs:enumeration value="thrust"/>
			<xs:enumeration value="strike and slip"/>
			<xs:enumeration value="scissor"/>
			<xs:enumeration value="variable">
				<xs:annotation>
					<xs:documentation>Used when a throw has different behaviors during its lifetime.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ThrowKindExt">
		<xs:union memberTypes="resqml:ThrowKind eml:EnumExtensionPattern"/>
	</xs:simpleType>
	<xs:complexType name="AbstractContactInterpretationPart" abstract="true">
		<xs:annotation>
			<xs:documentation>The parent class of an atomic, linear, or surface geologic contact description.

When the contact is between two surface representations (e.g., fault/fault, horizon/fault, horizon/horizon), then the contact is a line.
When the contact is between two volume representations (stratigraphic unit/stratigraphic unit), then the contact is a surface.
A contact interpretation can be associated with other contact interpretations in an organization interpretation.
To define a contact representation, you must first define a contact interpretation. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartOf" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AbstractFeatureInterpretation" abstract="true">
		<xs:annotation>
			<xs:documentation>The main class that contains all of the other feature interpretations included in an interpreted model.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="Domain" type="resqml:Domain" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>An enumeration that specifies in which domain the interpretation of an AbstractFeature has been performed: depth, time, mixed (= depth + time ) </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HasOccurredDuring" type="resqml:AbstractTimeInterval" minOccurs="0" maxOccurs="1"/>
					<xs:element name="InterpretedFeature" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractOrganizationInterpretation" abstract="true">
		<xs:annotation>
			<xs:documentation>The main class used to group features into meaningful units as a step in working towards the goal of building an earth model (the organization of all other organizations in RESQML). 
An organization interpretation:
	- Is typically comprised of one stack of its contained elements.
	- May be built on other organization interpretations. 

Typically contains:
	- contacts between the elements of this stack among themselves.
	- contacts between the stack elements and other organization elements.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractFeatureInterpretation">
				<xs:sequence>
					<xs:element name="ContactInterpretation" type="resqml:AbstractContactInterpretationPart" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractStratigraphicOrganizationInterpretation" abstract="true">
		<xs:annotation>
			<xs:documentation>The main class that defines the relationships between the stratigraphic units and provides the stratigraphic hierarchy of the Earth.

BUSINESS RULE: A stratigraphic organization must be in a ranked order from a lower rank to an upper rank. For example, it is possible to find previous unit containment relationships between several ranks.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractOrganizationInterpretation">
				<xs:sequence>
					<xs:element name="OrderingCriteria" type="resqml:OrderingCriteria" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractTimeInterval" abstract="true">
		<xs:annotation>
			<xs:documentation>The abstract superclass for all RESQML time intervals. The super class that contains all types of intervals considered in geolog, including  those based on chronostratigraphy, the duration of geological events, and time intervals used in reservoir simulation (e.g., time step).</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="BinaryContactInterpretationPart">
		<xs:annotation>
			<xs:documentation>The main class for data describing an opinion of the contact between two geologic feature-interpretations. 
	- A contact interpretation between two surface geological boundaries is usually a line.
	- A contact interpretation between two volumes (rock feature-interpretation) is usually a surface. 

This class allows you to build a formal sentence—in the pattern of subject-verb-direct object—which is used to describe the construction of a node, line, or surface contact. It is also possible to attach a primary and a secondary qualifier to the subject and to the direct object.

For more information, see the RESQML Technical Usage Guide.

For example, one contact interpretation can be described by a sentence such as:
The interpreted fault named F1 interp on its hanging wall side splits the interpreted horizon named H1 Interp on both its sides. 

Subject = F1 Interp, with qualifier "hanging wall side"
Verb = splits
Direct Object = H1 Interp, with qualifier "on both sides"</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractContactInterpretationPart">
				<xs:sequence>
					<xs:element name="DirectObject" type="resqml:ContactElementReference" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Data-object reference (by UUID link) to a geologic feature-interpretation, which is the direct object of the sentence that defines how the contact was constructed.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Subject" type="resqml:ContactElementReference" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Data-object reference (by UUID link) to a geologic feature-interpretation, which is the subject of the sentence that defines how the contact was constructed.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Verb" type="resqml:ContactVerb" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BoundaryFeatureInterpretation" type="resqml:BoundaryFeatureInterpretation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="BoundaryFeatureInterpretation">
		<xs:annotation>
			<xs:documentation>The main class for data describing an opinion of a surface feature between two volumes.

BUSINESS RULE: The data-object reference (of type "interprets") must reference only a boundary feature.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractFeatureInterpretation">
				<xs:sequence>
					<xs:element name="OlderPossibleAge" type="xs:long" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A value in years of the age offset between the DateTime attribute value and the DateTime of a GeologicalEvent occurrence of generation. When it represents a geological event that happened in the past, this value must be POSITIVE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="YoungerPossibleAge" type="xs:long" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A value in years of the age offset between the DateTime attribute value and the DateTime of a GeologicalEvent occurrence of generation. When it represents a geological event that happened in the past, this value must be POSITIVE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AbsoluteAge" type="eml:GeologicTime" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BoundaryFeatureInterpretationPlusItsRank">
		<xs:annotation>
			<xs:documentation>Element that lets you index and order feature interpretations which must be boundaries (horizon, faults and frontiers) or boundary sets (fault network). For possible ordering criteria, see OrderingCriteria.

BUSINESS RULE: Only BoundaryFeatureInterpretation and FeatureInterpretationSet having faults as homogeneous type must be used to build a StructuralOrganizationInterpretation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StratigraphicRank" type="eml:NonNegativeLong" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The first rank on which you find the boundary or the interpretation set of boundaries.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FaultCollection" type="resqml:FeatureInterpretationSet" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BoundaryFeatureInterpretation" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactElementReference">
		<xs:annotation>
			<xs:documentation>A reference to either a geologic feature interpretation or a frontier feature.

BUSINESS RULE: The content type of the corresponding data-object reference must be a geological feature-interpretation or a frontier feature.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:DataObjectReference">
				<xs:sequence>
					<xs:element name="Qualifier" type="resqml:ContactSide" minOccurs="0" maxOccurs="1"/>
					<xs:element name="SecondaryQualifier" type="resqml:ContactMode" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EarthModelInterpretation" type="resqml:EarthModelInterpretation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="EarthModelInterpretation">
		<xs:annotation>
			<xs:documentation>An earth model interpretation has the specific role of gathering at most:
	- one StratigraphicOrganizationInterpretation
	- One or several StructuralOrganizationInterpretations
	- One or several RockFluidOrganizationInterpretations

BUSINESS RULE: An earth model Interpretation interprets only a model feature. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractFeatureInterpretation">
				<xs:sequence>
					<xs:element name="Fluid" type="eml:DataObjectReference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Structure" type="eml:DataObjectReference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="StratigraphicOccurrences" type="eml:DataObjectReference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="StratigraphicColumn" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1"/>
					<xs:element name="WellboreInterpretationSet" type="eml:DataObjectReference" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FaultInterpretation" type="resqml:FaultInterpretation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="FaultInterpretation">
		<xs:annotation>
			<xs:documentation>A general term for designating a boundary feature intepretation that corresponds to a discontinuity having a tectonic origin, identified at mapping or outcrop scale. Fault may designate true faults but also thrust surfaces. A thrust surface  is specified as a FaultInterpretation whose FaultThrow kind is “thrust” and which has the attributes: is Listric = 0, MaximumThrow = 0. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:BoundaryFeatureInterpretation">
				<xs:sequence>
					<xs:element name="IsListric" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates if the normal fault is listric or not. 
BUSINESS RULE: Must be present if the fault is normal. Must not be present if the fault is not normal.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaximumThrow" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1"/>
					<xs:element name="MeanAzimuth" type="eml:PlaneAngleMeasure" minOccurs="0" maxOccurs="1"/>
					<xs:element name="MeanDip" type="eml:PlaneAngleMeasure" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ThrowInterpretation" type="resqml:FaultThrow" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FaultThrow">
		<xs:annotation>
			<xs:documentation>Identifies the characteristic of the throw of a fault interpretation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Throw" type="resqml:ThrowKindExt" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="HasOccurredDuring" type="resqml:AbstractTimeInterval" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FeatureInterpretationSet">
		<xs:annotation>
			<xs:documentation>This class allows feature interpretations to be grouped together, mainly to specify the constituents of a StructuralOrganizationInterpretation.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="IsHomogeneous" type="xs:boolean" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates that all of the selected interpretations are of a single kind.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FeatureInterpretation" type="eml:DataObjectReference" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FluidBoundaryInterpretation" type="resqml:FluidBoundaryInterpretation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="FluidBoundaryInterpretation">
		<xs:annotation>
			<xs:documentation>A boundary (usually a plane or a set of planes) separating two fluid phases, such as a gas-oil contact (GOC), a water-oil contact (WOC), a gas-oil contact (GOC), or others. For types, see FluidContact.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:BoundaryFeatureInterpretation">
				<xs:sequence>
					<xs:element name="FluidContact" type="resqml:FluidContact" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The kind of contact of this boundary.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GenericFeatureInterpretation" type="resqml:GenericFeatureInterpretation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="GenericFeatureInterpretation">
		<xs:annotation>
			<xs:documentation>An interpretation of a feature that is not specialized. For example, use it when the specialized type of the associated feature is not known.
For example, to set up a StructuralOrganizationInterpretation you must reference the interpretations of each feature you want to include. These features must include FrontierFeatures which have no interpretations because they are technical features. For consistency of design of the StructuralOrganizationInterpretation, create a GenericFeatureInterpretation for each FrontierFeature.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractFeatureInterpretation">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeneticBoundaryBasedTimeInterval">
		<xs:annotation>
			<xs:documentation>Geological time during which a geological event (e.g., deposition, erosion, fracturation, faulting, intrusion) occurred. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractTimeInterval">
				<xs:sequence>
					<xs:element name="ChronoBottom" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
					<xs:element name="ChronoTop" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GeobodyBoundaryInterpretation" type="resqml:GeobodyBoundaryInterpretation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="GeobodyBoundaryInterpretation">
		<xs:annotation>
			<xs:documentation>Contains the data describing an opinion about the characterization of a geobody BoundaryFeature, and it includes the attribute boundary relation.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:BoundaryFeatureInterpretation">
				<xs:sequence>
					<xs:element name="BoundaryRelation" type="resqml:BoundaryRelation" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Characterizes the stratigraphic relationships of a horizon with the stratigraphic units that its bounds.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GeobodyInterpretation" type="resqml:GeobodyInterpretation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="GeobodyInterpretation">
		<xs:annotation>
			<xs:documentation>A volume of rock that is identified based on some specific attribute, like its mineral content or other physical characteristic. Unlike stratigraphic or phase units, there is no associated time or fluid content semantic. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:GeologicUnitInterpretation">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeologicTimeBasedTimeInterval">
		<xs:annotation>
			<xs:documentation>A time interval that is bounded by two geologic times.
Can correspond to a TimeStep in a TimeSeries, such as the International Chronostratigraphic Scale or a regional chronostratigraphic scale.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractTimeInterval">
				<xs:sequence>
					<xs:element name="Start" type="eml:GeologicTime" minOccurs="1" maxOccurs="1"/>
					<xs:element name="End" type="eml:GeologicTime" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GeologicUnitInterpretation" type="resqml:GeologicUnitInterpretation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="GeologicUnitInterpretation">
		<xs:annotation>
			<xs:documentation>The main class for data describing an opinion of an originally continuous rock volume individualized in view of some characteristic property (e.g., physical, chemical, temporal) defined by GeologicUnitComposition and/or GeologicUnitMaterialImplacement, which can have a 3D defined shape. BUSINESS RULE: The data object reference (of type "interprets") must reference only a rock volume feature.
In an earth model, a geological unit interrupted by faults may consist of several disconnected rock volumes.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractFeatureInterpretation">
				<xs:sequence>
					<xs:element name="GeologicUnitComposition" type="eml:LithologyKindExt" minOccurs="0" maxOccurs="1"/>
					<xs:element name="GeologicUnitMaterialEmplacement" type="resqml:GeologicUnitMaterialEmplacement" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Attribute specifying whether the GeologicalUnitIntepretation is intrusive or not.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GeologicUnit3dShape" type="resqml:Shape3dExt" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>3D shape of the geologic unit. </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="HorizonInterpretation" type="resqml:HorizonInterpretation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="HorizonInterpretation">
		<xs:annotation>
			<xs:documentation>An interpretation of a horizon, which optionally provides stratigraphic information on BoundaryRelation, HorizonStratigraphicRole, SequenceStratigraphysurface
. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:BoundaryFeatureInterpretation">
				<xs:sequence minOccurs="0" maxOccurs="1">
					<xs:element name="BoundaryRelation" type="resqml:BoundaryRelation" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="HorizonStratigraphicRole" type="resqml:HorizonStratigraphicRole" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="SequenceStratigraphySurface" type="resqml:SequenceStratigraphySurface" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ChronoBottom" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ChronoTop" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MultipleContactInterpretationPart">
		<xs:annotation>
			<xs:documentation>Describes multiple interface contacts of geologic feature-interpretations (compared to a binary contact). A composition of several contact interpretations.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractContactInterpretationPart">
				<xs:sequence>
					<xs:element name="With" type="eml:NonNegativeLong" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Indicates a list of binary contacts (by their UUIDs) that participate in this multiple-part contact.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RockFluidOrganizationInterpretation" type="resqml:RockFluidOrganizationInterpretation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="RockFluidOrganizationInterpretation">
		<xs:annotation>
			<xs:documentation>This class describes the organization of geological reservoir, i.e., of an interconnected network of porous and permeable rock units, containing an accumulation of economic fluids, such as oil and gas.
A reservoir is normally enveloped by rock and fluid barriers and contains a single natural pressure system.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractOrganizationInterpretation">
				<xs:sequence>
					<xs:element name="RockFluidUnitIndex" type="eml:DataObjectReference" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RockFluidUnitInterpretation" type="resqml:RockFluidUnitInterpretation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="RockFluidUnitInterpretation">
		<xs:annotation>
			<xs:documentation>A type of rock fluid feature-interpretation, this class identifies a rock fluid unit interpretation by its phase.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:GeologicUnitInterpretation">
				<xs:sequence>
					<xs:element name="Phase" type="resqml:Phase" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="StratigraphicColumn" type="resqml:StratigraphicColumn" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="StratigraphicColumn">
		<xs:annotation>
			<xs:documentation>A global interpretation of the stratigraphy, which can be made up of several ranks of stratigraphic unit interpretations.

BUSINESS RULE: All stratigraphic column rank interpretations that make up a stratigraphic column must be ordered by age.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="Ranks" type="eml:DataObjectReference" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="StratigraphicColumnRankInterpretation" type="resqml:StratigraphicColumnRankInterpretation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="StratigraphicColumnRankInterpretation">
		<xs:annotation>
			<xs:documentation>A global hierarchy containing an ordered list of stratigraphic unit interpretations.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractStratigraphicOrganizationInterpretation">
				<xs:sequence>
					<xs:element name="RankInStratigraphicColumn" type="eml:NonNegativeLong" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The rank in the stratigraphic column.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StratigraphicUnits" type="eml:DataObjectReference" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="StratigraphicOccurrenceInterpretation" type="resqml:StratigraphicOccurrenceInterpretation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="StratigraphicOccurrenceInterpretation">
		<xs:annotation>
			<xs:documentation>A local Interpretation—it could be along a well, on a 2D map, or on a 2D section or on a part of the global volume of an earth model—of a succession of rock feature elements.
The stratigraphic column rank interpretation composing a stratigraphic occurrence can be ordered by the criteria listed in OrderingCriteria.
Note: When the chosen ordering criterion is not age but measured depth along a well trajectory, the semantics of the name of this class could be inconsistent semantics. In this case:
	- When faults are present, the observed succession may show repetition of a stratigraphic succession composed of a series of units each younger than the one below it.
	- This succession should not be called a stratigraphic occurrence because it is not stratigraphic (because the adjective ‘stratigraphic’ applies to a succession of units ordered according to their relative ages). 
A more general term for designating a succession of geological units encountered in drilling would be “Geologic Occurrence”. So we may consider that the term “stratigraphic cccurrence interpretation” should be understood as “geologic occurrence interpretation”. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractStratigraphicOrganizationInterpretation">
				<xs:sequence>
					<xs:element name="GeologicUnitIndex" type="eml:DataObjectReference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="IsOccurrenceOf" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="StratigraphicUnitDictionary" type="resqml:StratigraphicUnitDictionary" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="StratigraphicUnitDictionary">
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="StratigraphicUnitInterpretation" type="resqml:StratigraphicUnitInterpretation" minOccurs="2" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="StratigraphicUnitInterpretation" type="resqml:StratigraphicUnitInterpretation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="StratigraphicUnitInterpretation">
		<xs:annotation>
			<xs:documentation>A volume of rock of identifiable origin and relative age range that is defined by the distinctive and dominant, easily mapped and recognizable features that characterize it (petrographic, lithologic, paleontologic, paleomagnetic or chemical features).
Some stratigraphic units (chronostratigraphic units) have a GeneticBoundaryBasedTimeInterval (between its ChronoTop and ChronoBottom) defined by a BoundaryFeatureInterpretation.
A stratigraphic unit has no direct link to its physical top and bottom limits. These physical limits are only defined as contacts between StratigraphicUnitInterpretations defined within a StratigraphicOrganizationInterpretation.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:GeologicUnitInterpretation">
				<xs:sequence>
					<xs:element name="DepositionMode" type="resqml:DepositionMode" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>BUSINESS RULE: The deposition mode for a geological unit MUST be consistent with the boundary relations of a genetic boundary. If it is not, then the boundary relation declaration is retained.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxThickness" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1"/>
					<xs:element name="MinThickness" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1"/>
					<xs:element name="StratigraphicUnitKind" type="resqml:StratigraphicUnitKind" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="StructuralOrganizationInterpretation" type="resqml:StructuralOrganizationInterpretation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="StructuralOrganizationInterpretation">
		<xs:annotation>
			<xs:documentation>One of the main types of RESQML organizations, this class gathers boundary interpretations (e.g., horizons, faults and fault networks) plus frontier features and their relationships (contacts interpretations), which when taken together define the structure of a part of the earth.
IMPLEMENTATION RULE: Two use cases are presented:
1. If the relative age or apparent depth between faults and horizons is unknown, the writer must provide all individual faults within the UnorderedFaultCollection FeatureInterpretationSet.
2. Else, the writer must provide individual faults and fault collections within the OrderedBoundaryFeatureInterpretation list.
BUSINESS RULE: Two use cases are processed:
1 - If relative age or apparent depth between faults and horizons is unknown, writer must provides all individual faults within the UnorderedFaultCollection FeatureInterpretationSet.
2 - Else, individual faults and fault collections are provided within the OrderedBoundaryFeatureInterpretation list.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractOrganizationInterpretation">
				<xs:sequence>
					<xs:element name="OrderingCriteria" type="resqml:OrderingCriteria" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Sides" type="eml:DataObjectReference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="TopFrontier" type="eml:DataObjectReference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="BottomFrontier" type="eml:DataObjectReference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="UnorderedFaultCollection" type="resqml:FeatureInterpretationSet" minOccurs="0" maxOccurs="1"/>
					<xs:element name="OrderedBoundaryFeatureInterpretation" type="resqml:BoundaryFeatureInterpretationPlusItsRank" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
