docker/data/xsd/energyml/resqml/v2.2_dev3/xsd_schemas/Properties.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/resqmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:resqml="http://www.energistics.org/energyml/data/resqmlv2" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" elementFormDefault="qualified" version="2.2">
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics Product License Agreement at
			http://www.energistics.org/product-license-agreement
			Use of this file constitutes agreement with the Energistics Product License Agreement.
			Copyright (c) 2017 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
	<xs:annotation>
		<xs:documentation>This package contains classes used to define and exchange property data in RESQML. 
Individual property values are attached to a single type of element in the representation, either its topological elements, such as nodes or cells, or larger elements such as the entire representation or large parts of it, through patches and sub-representations.
Each property value is also associated with a single property type, which provides global semantics about the meaning of these values. Property values can also be associated with facets, which provide additional context for the values.
It is very common in subsurface/earth modeling workflows to follow the evolution of some property values through time or to consider them together as a group of property values attached to the same or different representations and property types. To capture this information, RESQML provides the notion of time series and a property group. 
When spatial locations (geometry) need to be stored for specific elements in a representation, then property points are used.</xs:documentation>
	</xs:annotation>
	<!--														-->
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.2/xsd_schemas/EmlAllObjects.xsd"/>
	<!--														-->
	<xs:include schemaLocation="Geometry.xsd"/>
	<xs:include schemaLocation="Representations.xsd"/>
	<xs:include schemaLocation="ResqmlCommon.xsd"/>
	<xs:simpleType name="Facet">
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="I">
				<xs:annotation>
					<xs:documentation>Applies to direction facet kind. With respect to the first local grid (lateral) direction. Used for full tensor permeability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="J">
				<xs:annotation>
					<xs:documentation>Applies to direction facet kind. With respect to the second local grid (lateral) direction. Used for full tensor permeability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="K">
				<xs:annotation>
					<xs:documentation>Applies to direction facet kind. With respect to the third local grid (vertical) direction. Used for full tensor permeability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="X">
				<xs:annotation>
					<xs:documentation>Applies to direction facet kind. With respect to the first coordinate system (laterall) direction. Used for full tensor permeability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Y">
				<xs:annotation>
					<xs:documentation>Applies to direction facet kind. With respect to the second coordinate system (lateral) direction. Used for full tensor permeability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Z">
				<xs:annotation>
					<xs:documentation>Applies to direction facet kind. With respect to the third coordinate system (vertical) direction. Used for full tensor permeability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="I+">
				<xs:annotation>
					<xs:documentation>Applies to direction facet kind. With respect to the first local grid (lateral) increasing direction. Used for full tensor permeability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="J+">
				<xs:annotation>
					<xs:documentation>Applies to direction facet kind. With respect to the second local grid (lateral) increasing direction. Used for full tensor permeability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="K+">
				<xs:annotation>
					<xs:documentation>Applies to direction facet kind. With respect to the third local grid (vertical) increasing direction. Used for full tensor permeability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="X+">
				<xs:annotation>
					<xs:documentation>Applies to direction facet kind. With respect to the first coordinate system (laterall) increasing direction. Used for full tensor permeability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Y+">
				<xs:annotation>
					<xs:documentation>Applies to direction facet kind. With respect to the second coordinate system (lateral) increasing direction. Used for full tensor permeability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Z+">
				<xs:annotation>
					<xs:documentation>Applies to direction facet kind. With respect to the third coordinate system (vertical) increasing direction. Used for full tensor permeability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="I-">
				<xs:annotation>
					<xs:documentation>Applies to direction facet kind. With respect to the first local grid (lateral) decreasing direction. Used for full tensor permeability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="J-">
				<xs:annotation>
					<xs:documentation>Applies to direction facet kind. With respect to the second local grid (lateral) decreasing direction. Used for full tensor permeability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="K-">
				<xs:annotation>
					<xs:documentation>Applies to direction facet kind. With respect to the third local grid (vertical) decreasing direction. Used for full tensor permeability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="X-">
				<xs:annotation>
					<xs:documentation>Applies to direction facet kind. With respect to the first coordinate system (laterall) decreasing direction. Used for full tensor permeability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Y-">
				<xs:annotation>
					<xs:documentation>Applies to direction facet kind. With respect to the second coordinate system (lateral) decreasing direction. Used for full tensor permeability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Z-">
				<xs:annotation>
					<xs:documentation>Applies to direction facet kind. With respect to the third coordinate system (vertical) decreasing direction. Used for full tensor permeability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="net">
				<xs:annotation>
					<xs:documentation>Applies to netgross facet kind.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="gross">
				<xs:annotation>
					<xs:documentation>Applies to netgross facet kind.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="plus"/>
			<xs:enumeration value="minus"/>
			<xs:enumeration value="average">
				<xs:annotation>
					<xs:documentation>Applies to statistics facet kind.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="maximum">
				<xs:annotation>
					<xs:documentation>Applies to statistics facet kind.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="minimum">
				<xs:annotation>
					<xs:documentation>Applies to statistics facet kind.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="maximum threshold">
				<xs:annotation>
					<xs:documentation>Applies to qualifier facet kind.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="minimum threshold">
				<xs:annotation>
					<xs:documentation>Applies to qualifier facet kind.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="surface condition">
				<xs:annotation>
					<xs:documentation>Applies to conditions facet kind.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="reservoir condition">
				<xs:annotation>
					<xs:documentation>Applies to conditions facet kind.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="oil">
				<xs:annotation>
					<xs:documentation>Applies to what facet kind.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="water">
				<xs:annotation>
					<xs:documentation>Applies to what facet kind.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="gas">
				<xs:annotation>
					<xs:documentation>Applies to what facet kind.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="condensate">
				<xs:annotation>
					<xs:documentation>Applies to what facet kind.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cumulative">
				<xs:annotation>
					<xs:documentation>Applies to statistics facet kind.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FacetExt">
		<xs:annotation>
			<xs:documentation>The extensible enumeration of facets.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="resqml:Facet eml:EnumExtensionPattern"/>
	</xs:simpleType>
	<xs:simpleType name="FacetKind">
		<xs:annotation>
			<xs:documentation>Enumerations of the type of qualifier that applies to a property type to provide additional context about the nature of the property. For example, may include conditions, direction, qualifiers, or statistics. Facets are used in RESQML to provide qualifiers to existing property types, which minimizes the need to create specialized property types.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="conditions">
				<xs:annotation>
					<xs:documentation>Indicates condition of how the property was acquired, e.g., distinguishing surface condition of a fluid compared to reservoir conditions. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="side">
				<xs:annotation>
					<xs:documentation>Indicates on which side of a surface the property applies, for example, it can indicate plus or minus.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="direction">
				<xs:annotation>
					<xs:documentation>Indicates that the property is directional. Common values are X, Y, or Z for vectors; I, J, or K for properties on a grid; or tensorial coordinates, e.g., XX or IJ. For example, vertical permeability vs. horizontal permeability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="netgross">
				<xs:annotation>
					<xs:documentation>Indicates that the property is of kind net or gross, i.e., indicates that the spatial support of a property is averaged only over the net rock or all of the rock. rock or all of the rock.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="qualifier">
				<xs:annotation>
					<xs:documentation>Used to capture any other context not covered by the other facet types listed here.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="statistics">
				<xs:annotation>
					<xs:documentation>Indicates values such as minimum, maximum, average, etc.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="what">
				<xs:annotation>
					<xs:documentation>Indicates the element that is measured, for example, the concentration of a mineral.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResqmlPropertyKind">
		<xs:annotation>
			<xs:documentation>Enumeration of the standard set of RESQML property kinds.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="absorbed dose">
				<xs:annotation>
					<xs:documentation>The amount of energy absorbed per mass.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="acceleration linear"/>
			<xs:enumeration value="active"/>
			<xs:enumeration value="activity (of radioactivity)">
				<xs:annotation>
					<xs:documentation>A measure of the radiation being emitted.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="amount of substance">
				<xs:annotation>
					<xs:documentation>Molar amount of a substance.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="amplitude">
				<xs:annotation>
					<xs:documentation>Amplitude of the acoustic signal recorded. It is not a physical property, only a value.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="angle per length"/>
			<xs:enumeration value="angle per time">
				<xs:annotation>
					<xs:documentation>The angular velocity. The rate of change of an angle.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="angle per volume"/>
			<xs:enumeration value="angular acceleration"/>
			<xs:enumeration value="area"/>
			<xs:enumeration value="attenuation">
				<xs:annotation>
					<xs:documentation>A logarithmic, fractional change of some measure, generally power or amplitude, over a standard range. This is generally used for frequency attenuation over an octave.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="area per area">
				<xs:annotation>
					<xs:documentation>A dimensionless quantity where the basis of the ratio is area.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="attenuation per length"/>
			<xs:enumeration value="area per volume"/>
			<xs:enumeration value="azimuth">
				<xs:annotation>
					<xs:documentation>Angle between the North and the projection of the normal to the horizon surface estimated on a local area of the interface.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="bubble point pressure">
				<xs:annotation>
					<xs:documentation>The pressure at which the first gas bubble appears while decreasing pressure on a fluid sample.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="bulk modulus">
				<xs:annotation>
					<xs:documentation>Bulk modulus, K</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="capacitance"/>
			<xs:enumeration value="categorical">
				<xs:annotation>
					<xs:documentation>The abstract supertype of all enumerated string properties.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cell length">
				<xs:annotation>
					<xs:documentation>Distance from cell face center to cell face center in the specified direction, DI, DJ, DK.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="code">
				<xs:annotation>
					<xs:documentation>A discrete code.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="charge density"/>
			<xs:enumeration value="compressibility"/>
			<xs:enumeration value="chemical potential"/>
			<xs:enumeration value="concentration of B">
				<xs:annotation>
					<xs:documentation>Molar concentration of a substance.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="conductivity"/>
			<xs:enumeration value="continuous">
				<xs:annotation>
					<xs:documentation>The abstract supertype of all floating point properties.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cross section absorption"/>
			<xs:enumeration value="current density"/>
			<xs:enumeration value="Darcy flow coefficient"/>
			<xs:enumeration value="data transmission speed">
				<xs:annotation>
					<xs:documentation>Used primarily for computer transmission rates.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="delta temperature">
				<xs:annotation>
					<xs:documentation>Refers to temperature differences. For non-zero offset temperature scales, Fahrenheit and Celsius, the conversion formulas are different than for absolute temperatures.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="density"/>
			<xs:enumeration value="depth">
				<xs:annotation>
					<xs:documentation>The perpendicular measurement downward from a surface. Also, the direct linear measurement from the point of viewing usually from front to back.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="diffusion coefficient"/>
			<xs:enumeration value="digital storage"/>
			<xs:enumeration value="dimensionless">
				<xs:annotation>
					<xs:documentation>A dimensionless quantity is the ratio of two dimensional quantities. The quantity types are not apparent from the basic dimensionless class, but may be apparent in variations--such as area per area, volume per volume, or mass per mass.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="dip">
				<xs:annotation>
					<xs:documentation>In the azimuth direction, the angle between a horizon plane and an estimated plane on a local area of the interface.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="discrete">
				<xs:annotation>
					<xs:documentation>The abstract supertype of all integer properties.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="dose equivalent"/>
			<xs:enumeration value="dose equivalent rate"/>
			<xs:enumeration value="dynamic viscosity"/>
			<xs:enumeration value="electric charge"/>
			<xs:enumeration value="electric conductance"/>
			<xs:enumeration value="electric current"/>
			<xs:enumeration value="electric dipole moment"/>
			<xs:enumeration value="electric field strength"/>
			<xs:enumeration value="electric polarization"/>
			<xs:enumeration value="electric potential"/>
			<xs:enumeration value="electrical resistivity"/>
			<xs:enumeration value="electrochemical equivalent">
				<xs:annotation>
					<xs:documentation>An electrochemical equivalent differs from molarity in that the valence (oxidation reduction potential) of the element is also considered.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="electromagnetic moment"/>
			<xs:enumeration value="energy length per area"/>
			<xs:enumeration value="energy length per time area temperature"/>
			<xs:enumeration value="energy per area"/>
			<xs:enumeration value="energy per length"/>
			<xs:enumeration value="equivalent per mass"/>
			<xs:enumeration value="equivalent per volume"/>
			<xs:enumeration value="exposure (radioactivity)"/>
			<xs:enumeration value="fault block"/>
			<xs:enumeration value="fluid volume">
				<xs:annotation>
					<xs:documentation>Volume of fluid.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="force"/>
			<xs:enumeration value="force area"/>
			<xs:enumeration value="force length per length"/>
			<xs:enumeration value="force per force">
				<xs:annotation>
					<xs:documentation>A dimensionless quantity where the basis of the ratio is force.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="force per length"/>
			<xs:enumeration value="force per volume"/>
			<xs:enumeration value="formation volume factor">
				<xs:annotation>
					<xs:documentation>Ratio of volumes at subsurface and surface conditions.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="frequency"/>
			<xs:enumeration value="frequency interval">
				<xs:annotation>
					<xs:documentation>An octave is a doubling of a frequency.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="gamma ray API unit">
				<xs:annotation>
					<xs:documentation>This class is defined by the API and is used for units of gamma ray log response.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="geologic k"/>
			<xs:enumeration value="heat capacity"/>
			<xs:enumeration value="heat flow rate"/>
			<xs:enumeration value="heat transfer coefficient">
				<xs:annotation>
					<xs:documentation>Pressure per velocity area.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="illuminance"/>
			<xs:enumeration value="index">
				<xs:annotation>
					<xs:documentation>Serial ordering.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="irradiance"/>
			<xs:enumeration value="isothermal compressibility"/>
			<xs:enumeration value="kinematic viscosity"/>
			<xs:enumeration value="Lambda Rho">
				<xs:annotation>
					<xs:documentation>Product of Lame constant and density, LR.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Lame constant">
				<xs:annotation>
					<xs:documentation>Lame constant, Lambda.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="length"/>
			<xs:enumeration value="length per length">
				<xs:annotation>
					<xs:documentation>A dimensionless quantity where the basis of the ratio is length.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="length per temperature"/>
			<xs:enumeration value="length per volume"/>
			<xs:enumeration value="level of power intensity"/>
			<xs:enumeration value="light exposure"/>
			<xs:enumeration value="linear thermal expansion"/>
			<xs:enumeration value="luminance"/>
			<xs:enumeration value="luminous efficacy"/>
			<xs:enumeration value="luminous flux"/>
			<xs:enumeration value="luminous intensity"/>
			<xs:enumeration value="magnetic dipole moment"/>
			<xs:enumeration value="magnetic field strength"/>
			<xs:enumeration value="magnetic flux"/>
			<xs:enumeration value="magnetic induction"/>
			<xs:enumeration value="magnetic permeability"/>
			<xs:enumeration value="magnetic vector potential"/>
			<xs:enumeration value="mass">
				<xs:annotation>
					<xs:documentation>M/L2T</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mass attenuation coefficient"/>
			<xs:enumeration value="mass concentration">
				<xs:annotation>
					<xs:documentation>A dimensionless quantity where the basis of the ratio is mass.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mass flow rate"/>
			<xs:enumeration value="mass length"/>
			<xs:enumeration value="mass per energy"/>
			<xs:enumeration value="mass per length">
				<xs:annotation>
					<xs:documentation>M/L4T</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mass per time per area"/>
			<xs:enumeration value="mass per time per length"/>
			<xs:enumeration value="mass per volume per length"/>
			<xs:enumeration value="mobility"/>
			<xs:enumeration value="modulus of compression"/>
			<xs:enumeration value="molar concentration">
				<xs:annotation>
					<xs:documentation>The molar concentration of a substance.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="molar heat capacity"/>
			<xs:enumeration value="molar volume"/>
			<xs:enumeration value="mole per area"/>
			<xs:enumeration value="mole per time"/>
			<xs:enumeration value="mole per time per area"/>
			<xs:enumeration value="moment of force"/>
			<xs:enumeration value="moment of inertia"/>
			<xs:enumeration value="moment of section"/>
			<xs:enumeration value="momentum"/>
			<xs:enumeration value="Mu Rho">
				<xs:annotation>
					<xs:documentation>Product of Shear modulus and density, MR.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="net to gross ratio">
				<xs:annotation>
					<xs:documentation>Ratio of net rock volume to gross rock volume, NTG.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="neutron API unit"/>
			<xs:enumeration value="nonDarcy flow coefficient"/>
			<xs:enumeration value="operations per time"/>
			<xs:enumeration value="parachor"/>
			<xs:enumeration value="per area"/>
			<xs:enumeration value="per electric potential"/>
			<xs:enumeration value="per force"/>
			<xs:enumeration value="per length"/>
			<xs:enumeration value="per mass"/>
			<xs:enumeration value="per volume"/>
			<xs:enumeration value="permeability length"/>
			<xs:enumeration value="permeability rock"/>
			<xs:enumeration value="permeability thickness">
				<xs:annotation>
					<xs:documentation>Product of permeability and thickness.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="permeance"/>
			<xs:enumeration value="permittivity"/>
			<xs:enumeration value="pH">
				<xs:annotation>
					<xs:documentation>A class that measures the hydrogen ion concentration (acidity).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="plane angle"/>
			<xs:enumeration value="Poisson ratio">
				<xs:annotation>
					<xs:documentation>Poisson's ratio, Sigma</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="pore volume">
				<xs:annotation>
					<xs:documentation>Volume of the pore space of the rock.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="porosity">
				<xs:annotation>
					<xs:documentation>Porosity.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="potential difference per power drop"/>
			<xs:enumeration value="power"/>
			<xs:enumeration value="power per volume"/>
			<xs:enumeration value="pressure"/>
			<xs:enumeration value="pressure per time"/>
			<xs:enumeration value="pressure squared"/>
			<xs:enumeration value="pressure squared per force time per area"/>
			<xs:enumeration value="pressure time per volume"/>
			<xs:enumeration value="productivity index"/>
			<xs:enumeration value="property multiplier">
				<xs:annotation>
					<xs:documentation>Unitless multiplier to apply to any property.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="quantity">
				<xs:annotation>
					<xs:documentation>The abstract supertype of all floating point properties with a unit of measure.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="quantity of light"/>
			<xs:enumeration value="radiance"/>
			<xs:enumeration value="radiant intensity"/>
			<xs:enumeration value="region initialization"/>
			<xs:enumeration value="relative permeability">
				<xs:annotation>
					<xs:documentation>Ratio of phase permeability, which is a function of saturation, to the rock permeability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="relative power">
				<xs:annotation>
					<xs:documentation>A dimensionless quantity where the basis of the ratio is power.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="relative time">
				<xs:annotation>
					<xs:documentation>A dimensionless quantity where the basis of the ratio is time.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="reluctance"/>
			<xs:enumeration value="resistance"/>
			<xs:enumeration value="resistivity per length"/>
			<xs:enumeration value="RESQML root property">
				<xs:annotation>
					<xs:documentation>The abstract supertype of all properties. This property does not have a parent.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Rock Impedance">
				<xs:annotation>
					<xs:documentation>Acoustic impedance, Ip, Is.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="rock permeability">
				<xs:annotation>
					<xs:documentation>See "permeability rock".</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="rock volume">
				<xs:annotation>
					<xs:documentation>Rock volume.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="saturation">
				<xs:annotation>
					<xs:documentation>Ratio of phase fluid volume to pore volume</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="second moment of area"/>
			<xs:enumeration value="shear modulus">
				<xs:annotation>
					<xs:documentation>Shear modulus, Mu.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="solid angle"/>
			<xs:enumeration value="solution gas-oil ratio">
				<xs:annotation>
					<xs:documentation>Ratio of solution gas volume to oil volume at reservoir conditions.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="specific activity (of radioactivity)"/>
			<xs:enumeration value="specific energy"/>
			<xs:enumeration value="specific heat capacity"/>
			<xs:enumeration value="specific productivity index"/>
			<xs:enumeration value="specific volume"/>
			<xs:enumeration value="surface density"/>
			<xs:enumeration value="temperature per length"/>
			<xs:enumeration value="temperature per time"/>
			<xs:enumeration value="thermal conductance"/>
			<xs:enumeration value="thermal conductivity"/>
			<xs:enumeration value="thermal diffusivity"/>
			<xs:enumeration value="thermal insulance"/>
			<xs:enumeration value="thermal resistance"/>
			<xs:enumeration value="thermodynamic temperature"/>
			<xs:enumeration value="thickness">
				<xs:annotation>
					<xs:documentation>Distance measured in a volume between two surfaces (e.g., geological top boundary and geological bottom boundary of a geological unit).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="time"/>
			<xs:enumeration value="time per length"/>
			<xs:enumeration value="time per volume"/>
			<xs:enumeration value="transmissibility">
				<xs:annotation>
					<xs:documentation>Volumetric flux per unit area per unit pressure drop for unit viscosity fluid.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="unit productivity index"/>
			<xs:enumeration value="unitless">
				<xs:annotation>
					<xs:documentation>The abstract supertype of all floating point properties with NO unit of measure. To allow the unit information to be required for all continuous properties, the special unit of measure of "NONE" has been assigned to all children of this class. In addition, the special dimensional class of "0" has been assigned to all children of this class.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="vapor oil-gas ratio">
				<xs:annotation>
					<xs:documentation>Ratio of oil vapor volume to gas volume at reservoir conditions.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="velocity"/>
			<xs:enumeration value="volume"/>
			<xs:enumeration value="volume flow rate"/>
			<xs:enumeration value="volume length per time"/>
			<xs:enumeration value="volume per area"/>
			<xs:enumeration value="volume per length"/>
			<xs:enumeration value="volume per time per area"/>
			<xs:enumeration value="volume per time per length"/>
			<xs:enumeration value="volume per time per time"/>
			<xs:enumeration value="volume per time per volume"/>
			<xs:enumeration value="volume per volume">
				<xs:annotation>
					<xs:documentation>A dimensionless quantity where the basis of the ratio is volume.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="volumetric heat transfer coefficient"/>
			<xs:enumeration value="volumetric thermal expansion"/>
			<xs:enumeration value="work"/>
			<xs:enumeration value="Young modulus">
				<xs:annotation>
					<xs:documentation>Young's modulus, E.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeSetKind">
		<xs:annotation>
			<xs:documentation>Indicates that the collection of properties shares this time relationship, if any.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="single time">
				<xs:annotation>
					<xs:documentation>Indicates that the collection contains only property values associated with a single time index, i.e., time identity can be ascertained from the time index itself, without knowledge of the time.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="single time series">
				<xs:annotation>
					<xs:documentation>Indicates that the collection contains only property values associated with a single time series, so that time identity can be ascertained from the time index itself, without knowledge of the time.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="equivalent times">
				<xs:annotation>
					<xs:documentation>Indicates that the collection of properties is at equivalent times, e.g., a 4D seismic data set and a reservoir simulation model at comparable times. For a more specific relationship, select single time.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="not a time set">
				<xs:annotation>
					<xs:documentation>Indicates that the property collection is not related by time.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AbstractProperty" abstract="true">
		<xs:annotation>
			<xs:documentation>Base class for storing all property values on representations, except current geometry location.
Values attached to a given element can be either a scalar or a vector. The size of the vector is constant on all elements, and it is assumed that all elements of the vector have identical property types and share the same unit of measure.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="IndexableElement" type="resqml:IndexableElement" minOccurs="1" maxOccurs="1"/>
					<xs:element name="RealizationIndices" type="eml:AbstractIntegerArray" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Provide the list of indices corresponding to realizations number. For example, if a user wants to send the realization corresponding to p10, p20, ... he would write the array 10, 20, ...
If not provided, then the realization count (which could be 1) does not introduce a dimension to the multi-dimensional array storage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ValueCountPerIndexableElement" type="eml:PositiveLong" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of elements in a 1D list of properties of the same property kind. When used in a two-dimensional array, count is always the fastest.
If not provided, then the value count does not introduce a dimension to the multi-dimensional array storage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PropertyKind" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Pointer to a PropertyKind.  The Energistics dictionary can be found at http://w3.energistics.org/energyML/data/common/v2.1/ancillary/PropertyKindDictionary_v2.1.0.xml.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeIndices" type="eml:TimeIndices" minOccurs="0" maxOccurs="1"/>
					<xs:element name="LocalCrs" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1"/>
					<xs:element name="SupportingRepresentation" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractPropertyLookup" abstract="true">
		<xs:annotation>
			<xs:documentation>Generic representation of a property lookup table. Each derived element provides specific lookup methods for different data types.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractValuesProperty" abstract="true">
		<xs:annotation>
			<xs:documentation>Base class for property values. Each derived element provides specific property values, including point property in support of geometries.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractProperty">
				<xs:sequence>
					<xs:element name="PatchOfValues" type="resqml:PatchOfValues" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="Facet" type="resqml:PropertyKindFacet" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BooleanArrayFromDiscretePropertyArray">
		<xs:annotation>
			<xs:documentation>An array of Boolean values that is explicitly defined by indicating which indices in the array are either true or false. This class is used to represent very sparse true or false data, based on a discrete property.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractBooleanArray">
				<xs:sequence>
					<xs:element name="Value" type="xs:long" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Integer to match for the value to be considered true</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Property" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BooleanProperty" type="resqml:BooleanProperty" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="BooleanProperty">
		<xs:annotation>
			<xs:documentation>Information specific to one Boolean property.
Used to capture a choice between 2 and only 2 possible values/states for each indexable element of a data object, for example, identifying active cells of a grid..</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractValuesProperty">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CategoricalProperty" type="resqml:CategoricalProperty" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="CategoricalProperty">
		<xs:annotation>
			<xs:documentation>Information specific to one categorical property. Contains discrete integer. This type of property is associated either as:
	- an internally stored index to a string through a lookup mapping.
	- an internally stored double to another double value through an explicitly provided table.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractValuesProperty">
				<xs:sequence>
					<xs:element name="Lookup" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CommentProperty" type="resqml:CommentProperty" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="CommentProperty">
		<xs:annotation>
			<xs:documentation>Information specific to one comment property.
Used to capture comments or annotations associated with a given element type in a data-object, for example, associating comments on the specific location of a well path.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractValuesProperty">
				<xs:sequence>
					<xs:element name="Language" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Identify the language (e.g., US English or French) of the string. It is recommended that language names conform to ISO 639.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContinuousProperty" type="resqml:ContinuousProperty" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="ContinuousProperty">
		<xs:annotation>
			<xs:documentation>Most common type of property used for storing rock or fluid attributes; all are represented as doubles. 
So that the value range can be known before accessing all values, the min and max values of the range are also stored. 
BUSINESS RULE: It also contains a unit of measure, which can be different from the unit of measure of its property type, but it must be convertible into this unit.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractValuesProperty">
				<xs:sequence>
					<xs:element name="MinimumValue" type="xs:double" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The minimum of the associated property values. 
BUSINESS RULE: There can be only one value per number of elements.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaximumValue" type="xs:double" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The maximum of the associated property values. 
BUSINESS RULE: There can be only one value per number of elements.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Uom" type="eml:UnitOfMeasureExt" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Unit of measure for the property.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomUnitDictionary" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DiscreteProperty" type="resqml:DiscreteProperty" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="DiscreteProperty">
		<xs:annotation>
			<xs:documentation>Contains discrete integer values; typically used to store any type of index.
So that the value range can be known before accessing all values, it also stores the minimum and maximum value in the range.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractValuesProperty">
				<xs:sequence>
					<xs:element name="MinimumValue" type="xs:long" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The minimum of the associated property values. 
BUSINESS RULE: There can only be one value per number of elements.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaximumValue" type="xs:long" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The maximum of the associated property values. 
BUSINESS RULE: There can only be one value per number of elements.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DoubleLookup">
		<xs:annotation>
			<xs:documentation>(key,value) pairs for a lookup table.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Key" type="xs:double" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Input to a table lookup.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:double" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Output from a table lookup.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DoubleTableLookup" type="resqml:DoubleTableLookup" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="DoubleTableLookup">
		<xs:annotation>
			<xs:documentation>Defines a function for table lookups. For example, used for linear interpolation, such as PVT.
Used for categorical property, which also may use StringTableLookup.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractPropertyLookup">
				<xs:sequence>
					<xs:element name="Value" type="resqml:DoubleLookup" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PatchOfPoints">
		<xs:annotation>
			<xs:documentation>A patch of points. In RESQML, a patch is a set or range of one kind of topological elements used to define part of a data-object, such as grids or structural data-objects. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RepresentationPatchIndex" type="eml:NonNegativeLong" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Optional patch index used to attach properties to a specific patch of the indexable elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Points" type="resqml:AbstractPoint3dArray" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Geometric points (or vectors) to be attached to the specified indexable elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PatchOfValues">
		<xs:annotation>
			<xs:documentation>A patch of values. See also Patch.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RepresentationPatchIndex" type="eml:NonNegativeLong" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Patch index used to attach properties to a specific patch of the indexable elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Values" type="eml:AbstractValueArray" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Values to be attached to the indexable elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PointsProperty" type="resqml:PointsProperty" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="PointsProperty">
		<xs:annotation>
			<xs:documentation>Represents the geometric information that should *not* be used as representation geometry, but should be used in another context where the location or geometrical vectorial distances are needed.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractProperty">
				<xs:sequence>
					<xs:element name="PatchOfPoints" type="resqml:PatchOfPoints" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PropertyKindFacet">
		<xs:annotation>
			<xs:documentation>Qualifiers for property values, which allow users to semantically specialize a property without creating a new property kind.
For the list of enumerations, see FacetKind. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Facet" type="resqml:FacetExt" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A facet allows you to better define a property in the context of its property kind.
The technical advantage of using a facet vs. a specialized property kind is to limit the number of property kinds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Kind" type="resqml:FacetKind" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Facet kind of the property kind (see the enumeration)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PropertySet" type="resqml:PropertySet" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="PropertySet">
		<xs:annotation>
			<xs:documentation>A set of properties collected together for a specific purpose. For example, a property set can be used to collect all the properties corresponding to the simulation output at a single time, or all the values of a single property type for all times.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="TimeSetKind" type="resqml:TimeSetKind" minOccurs="1" maxOccurs="1"/>
					<xs:element name="HasSinglePropertyKind" type="xs:boolean" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>If true, indicates that the collection contains only property values associated with a single property kind.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HasMultipleRealizations" type="xs:boolean" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>If true, indicates that the collection contains properties with defined realization indices.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ParentSet" type="eml:DataObjectReference" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A pointer to the parent property group of this property group.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Properties" type="eml:DataObjectReference" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Defines the properties which are contained into a property set</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StringLookup">
		<xs:annotation>
			<xs:documentation>Defines an element inside a string-to-integer lookup table.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Key" type="xs:long" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The corresponding integer value.
This value is used in HDF5 instead of the string value.
The value of null integer value must be reserved for NULL.
The size of this value is constrained by the size of the format used in HDF5.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="eml:String2000" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A string value. Output from the lookup table.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="StringTableLookup" type="resqml:StringTableLookup" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="StringTableLookup">
		<xs:annotation>
			<xs:documentation>Defines an integer-to-string lookup table, for example, stores facies properties, where a facies index is associated with a facies name. Used for categorical properties, which also may use a double table lookup. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractPropertyLookup">
				<xs:sequence>
					<xs:element name="Value" type="resqml:StringLookup" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
