docker/data/xsd/energyml/resqml/v2.0.1/xsd_schemas/Activities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:resqml="http://www.energistics.org/energyml/data/resqmlv2" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" targetNamespace="http://www.energistics.org/energyml/data/resqmlv2" elementFormDefault="qualified" version="2.0.1">
	<!--														-->
	<xs:include schemaLocation="Properties.xsd"/>
	<!--														-->
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.0/xsd_schemas/AllCommonObjects.xsd"/>
	<xs:include schemaLocation="Common.xsd"/>
	<xs:complexType name="DataObjectParameter">
		<xs:annotation>
			<xs:documentation>Parameter referencing to a top level object.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractActivityParameter">
				<xs:sequence>
					<xs:element name="DataObject" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Is actually a reference and not a containment relationship.
						</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ObjectParameterKey">
		<xs:complexContent>
			<xs:extension base="resqml:AbstractParameterKey">
				<xs:sequence>
					<xs:element name="DataObject" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Is actually a reference and not a containment relationship.
						</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="obj_Activity">
		<xs:annotation>
			<xs:documentation>Instance of a given activity</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractResqmlDataObject">
				<xs:sequence>
					<xs:element name="Parent" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ActivityDescriptor" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Parameter" type="resqml:AbstractActivityParameter" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StringParameter">
		<xs:annotation>
			<xs:documentation>Parameter containing a string value.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractActivityParameter">
				<xs:sequence>
					<xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ParameterTemplate">
		<xs:annotation>
			<xs:documentation>Description of one parameter that participate in one type of activity.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KeyConstraint" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Allows you to indicate that, in the same activity, this parameter template must be associated to another parameter template identified by its title.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsInput" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates if the parameter is an input of the activity.
If the parameter is a data object and is also an output of the activity, it is strongly advised to use two parameters : one for input and one for output. The reason is to be able to give two different versions strings for the input and output dataobject which has got obviously the same UUID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AllowedKind" type="resqml:ParameterKind" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>If no allowed type is given, then all kind of datatypes is allowed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsOutput" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates if the parameter is an output of the activity.
If the parameter is a data object and is also an input of the activity, it is strongly advised to use two parameters : one for input and one for output. The reason is to be able to give two different versions strings for the input and output dataobject which has got obviously the same UUID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Title" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of the parameter in the activity. Key to identify parameter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DataObjectContentType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>When parameter is limited to data object of given types, describe the allowed types. Used only when ParameterType is dataObject </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxOccurs" type="xs:long" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum number of parameters of this type allowed in the activity.
-1 means "infinite".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MinOccurs" type="xs:long" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Minimum number of parameters of this type required by the activity.
-1 means "infinite".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Constraint" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Textual description of additional constraint associated with the parameter. (note that it will be better to have a formal description of the constraint)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DefaultValue" type="resqml:AbstractActivityParameter" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IntegerQuantityParameter">
		<xs:annotation>
			<xs:documentation>Parameter containing an integer value.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractActivityParameter">
				<xs:sequence>
					<xs:element name="Value" type="xs:long" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Integer value</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ParameterKind">
		<xs:restriction base="xs:string">
			<xs:enumeration value="dataObject"/>
			<xs:enumeration value="floatingPoint"/>
			<xs:enumeration value="integer"/>
			<xs:enumeration value="string"/>
			<xs:enumeration value="timestamp"/>
			<xs:enumeration value="subActivity"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TimeIndexParameterKey">
		<xs:complexContent>
			<xs:extension base="resqml:AbstractParameterKey">
				<xs:sequence>
					<xs:element name="TimeIndex" type="resqml:TimeIndex" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FloatingPointQuantityParameter">
		<xs:annotation>
			<xs:documentation>Parameter containing a double value.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractActivityParameter">
				<xs:sequence>
					<xs:element name="Value" type="xs:double" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Double value</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Uom" type="resqml:ResqmlUom" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Unit of measure associated with the value</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractParameterKey" abstract="true">
		<xs:annotation>
			<xs:documentation>Abstract class describing a key used to identify a parameter value. When multiple values are provided for a given parameter, provides a way to identify the parameter through its association with an object, a time index... </xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="TimeIndexParameter">
		<xs:annotation>
			<xs:documentation>Parameter containing a time index value.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractActivityParameter">
				<xs:sequence>
					<xs:element name="TimeIndex" type="resqml:TimeIndex" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractActivityParameter" abstract="true">
		<xs:annotation>
			<xs:documentation>General parameter value used in one instance of activity</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Title" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of the parameter, used to identify it in the activity. Must have an equivalent in the activity descriptor parameters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Index" type="xs:long" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>When parameter is an array, used to indicate the index in the array</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Selection" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Textual description about how this parameter was selected.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Key" type="resqml:AbstractParameterKey" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="obj_ActivityTemplate">
		<xs:annotation>
			<xs:documentation>Description of one type of activity.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractResqmlDataObject">
				<xs:sequence>
					<xs:element name="Parameter" type="resqml:ParameterTemplate" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics License Agreement at
			http://www.energistics.org
			Use of this file constitutes agreement with the Energistics License Agreement.
			Copyright (c) 2015 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
</xs:schema>
