docker/data/xsd/energyml/resqml/v2.0.1/xsd_schemas/Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/resqmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:resqml="http://www.energistics.org/energyml/data/resqmlv2" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" elementFormDefault="qualified" version="2.0">
	<xs:annotation>
		<xs:documentation>Shared data-objects and related objects. These data-objects are shared across all packages in the RESQML schema.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.0/xsd_schemas/AllCommonObjects.xsd"/><xs:include schemaLocation="Properties.xsd"/>
	<xs:complexType name="Point3d">
		<xs:annotation>
			<xs:documentation>Defines a point using coordinates in 3D space.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Coordinate1" type="xs:double" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>X Coordinate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Coordinate2" type="xs:double" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Y Coordinate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Coordinate3" type="xs:double" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Either Z or T Coordinate</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimeSeriesParentage">
		<xs:annotation>
			<xs:documentation>Indicates that a time series has the associated time series as a parent, i.e., that the series continues from the parent time series.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="HasOverlap" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Used to indicate that a time series overlaps with its parent time series, e.g., as may be done for simulation studies, where the end state of one calculation is the initial state of the next.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParentTimeIndex" type="resqml:TimeIndex" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="obj_LocalTime3dCrs">
		<xs:annotation>
			<xs:documentation>Defines a local time coordinate system, the geometrical origin and location is defined by the elements of the base class AbstractLocal3dCRS. This CRS defines the time unit that the time-based geometries that refers it will use.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractLocal3dCrs">
				<xs:sequence>
					<xs:element name="TimeUom" type="eml:TimeUom" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Defines the unit of measure of the third (time) coordinates, for the geometries that refers to it.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TimeIndex">
		<xs:annotation>
			<xs:documentation>Index into a time series. Used to specify time. (Not to be confused with time step.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Index" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The index of the time in the time series.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeSeries" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Timestamp">
		<xs:annotation>
			<xs:documentation>Time</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A date which can be represented according to the W3CDTF format.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="YearOffset" type="xs:long" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates that the dateTime attribute must be translated according to this value.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AbstractLocal3dCrs" abstract="true">
		<xs:annotation>
			<xs:documentation>Defines a local 2D+1D coordinate reference system, by translation and rotation, whose origin is located at the (X,Y,Z) Offset from the Projected and Vertical 2D+1D CRS.

The units of measure in XY follow the Projected Crs. The units of measure of the third coordinate is determined in the depth or concrete type.

ArealRotation is a plane angle.

Defines a local 3D CRS is subject to the following restrictions:

	- The projected 2d CRS must have orthogonal axes


	- The vertical 1d CRS must be chosen so that it is orthogonal to the plane defined by the projected 2d CRS


As a consequence of the definition:

	- The local CRS forms a Cartesian system of axes. 


	- The local areal axes are in the plane of the projected system.


	- The local areal axes are orthogonal to each other.


This 3D system is semantically equivalent to a compound CRS composed of a local 2D areal system and a local 1D vertical system.
The labels associated with the axes on this local system are X, Y, Z or X, Y, T.
The relative orientation of the local Y axis with respect to the local X axis is identical to that of the global axes.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractResqmlDataObject">
				<xs:sequence>
					<xs:element name="YOffset" type="xs:double" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Y offset of the origin of the local areal axes relative to the projected CRS origin.
The value MUST represent the second axis of the coordinate system.
The unit of measure is defined by the unit of measure for the projected 2D CRS.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZOffset" type="xs:double" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Z offset of the origin of the local vertical axis relative to the vertical CRS origin. According to CRS type (depth or time) it corresponds to the depth or time datum 
The value MUST represent the third axis of the coordinate system.
The unit of measure is defined by the unit of measure for the vertical CRS.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArealRotation" type="eml:PlaneAngleMeasure" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The rotation of the local Y axis relative to the projected Y axis. 

	- A positive value indicates a clockwise rotation from the projected Y axis.


	- A negative value indicates a counter-clockwise rotation form the projected Y axis.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProjectedAxisOrder" type="eml:AxisOrder2d" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Defines the coordinate system axis order of the global projected CRS when the projected CRS is an unknown CRS, else it must be correspond to the axis order of the projected  CRS.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProjectedUom" type="eml:LengthUom" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Unit of measure of the associated Projected CRS. When the projected CRS is not unknown, it must be the same than the unit defined by the Projected CRS.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VerticalUom" type="eml:LengthUom" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Unit of measure of the associated Vertical CRS. When the vertical CRS is not unknown, it must be the same than the unit defined by the Vertical CRS.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="XOffset" type="xs:double" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The X location of the origin of the local areal axes relative to the projected CRS origin.
The value MUST represent the first axis of the coordinate system.
The unit of measure is defined by the unit of measure for the projected 2D CRS.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZIncreasingDownward" type="xs:boolean" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates that Z values correspond to depth values and are increasing downward, as opposite to elevation values increasing upward. When the vertical CRS is not an unknown, it must correspond to the axis orientation of the vertical CRS.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VerticalCrs" type="eml:AbstractVerticalCrs" minOccurs="1" maxOccurs="1"/>
					<xs:element name="ProjectedCrs" type="eml:AbstractProjectedCrs" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResqmlJaggedArray">
		<xs:annotation>
			<xs:documentation>Representation for an array of 1D variable length arrays. The representation consists of these two arrays: 

	- An aggregation of all the variable length arrays into a single dimensional array. 
	- The offsets into the other array, given by the sum of all the previous array lengths, including the current array.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Elements" type="resqml:AbstractValueArray" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>1D array of elements containing the aggregation of individual array data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CumulativeLength" type="resqml:AbstractIntegerArray" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>1D array of cumulative lengths to the end of the current array. This is also equal to the index of the next element, i.e., the index in the elements array, for which the current variable length array begins.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameValuePair">
		<xs:annotation>
			<xs:documentation>Complementary optional metadata information, which may be added to any data-object to qualify it.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of the metadata information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Value of the metadata information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="obj_LocalDepth3dCrs">
		<xs:annotation>
			<xs:documentation>Defines a local depth coordinate system, the geometrical origin and location is defined by the elements of the base class AbstractLocal3dCRS. This CRS uses the units of measure of its projected and vertical CRS.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractLocal3dCrs">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="obj_TimeSeries">
		<xs:annotation>
			<xs:documentation>Stores an ordered list of times, for example, for time-dependent properties, geometries, or representations. It is used in conjunction with the time index to specify times for RESQML.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractResqmlDataObject">
				<xs:sequence>
					<xs:element name="Time" type="resqml:Timestamp" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Individual times composing the series. The list ordering is used by the time index.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeSeriesParentage" type="resqml:TimeSeriesParentage" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractResqmlDataObject" abstract="true">
		<xs:annotation>
			<xs:documentation>The parent class for all top-level elements in RESQML. Inherits from AbstractCitedDataObject in the commonV2 package of the model.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractCitedDataObject">
				<xs:sequence>
					<xs:element name="ExtraMetadata" type="resqml:NameValuePair" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
