docker/data/xsd/energyml/resqml/v2.0.1/xsd_schemas/Geologic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/resqmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" xmlns:resqml="http://www.energistics.org/energyml/data/resqmlv2" elementFormDefault="qualified" version="2.0">
	<xs:annotation>
		<xs:documentation>Objects that exist a priori, in the natural world, for example: the rock formations and how they are positioned with regard to each other; the fluids that are present before production; or the position of the geological intervals with respect to each. Some of these objects are static—such as geologic intervals---while others are dynamic—such as fluids; their properties, geometries, and quantities may change over time during the course of field production.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.0/xsd_schemas/AllCommonObjects.xsd"/><xs:include schemaLocation="Features.xsd"/>
	<xs:include schemaLocation="Common.xsd"/>
	<xs:simpleType name="Phase">
		<xs:annotation>
			<xs:documentation>The enumeration of the possible RockFluid Unit phase  in a hydrostatic column.
The seal is considered here as a part ( the coverage phase) of an hydrostatic column.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="aquifer">
				<xs:annotation>
					<xs:documentation>Volume of the hydrostatic column for which only the aqueous phase is mobile. Typically below the Pc(hydrocarbon-water)=0 free fluid surface. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="gas cap">
				<xs:annotation>
					<xs:documentation>Volume of the hydrostatic column for which only the gaseous phase is mobile. Typically above the Pc(gas-oil)=0 free fluid surface. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="oil column">
				<xs:annotation>
					<xs:documentation>Volume of the hydrostatic column for which only the oleic and aqueous phases may be mobile. Typically below the gas-oil Pc=0 free fluid surface.Pc(gas-oil)=0 free fluid surface.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="seal">
				<xs:annotation>
					<xs:documentation>Impermeable volume which provides the seal for a hydrostatic fluid column.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="obj_FluidBoundaryFeature">
		<xs:annotation>
			<xs:documentation>A boundary (usually a plane) separating two fluid phases, such as a gas-oil contact (GOC), a water-oil contact (WOC), a gas-oil contact (GOC), or others. For types, see FluidContact.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:obj_BoundaryFeature">
				<xs:sequence>
					<xs:element name="FluidContact" type="resqml:FluidContact" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="GeneticBoundaryKind">
		<xs:annotation>
			<xs:documentation>Enumerations used to indicate a specific type of genetic boundary feature. See attributes below. Note that a genetic boundary has a younger side and an older side. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="geobody boundary">
				<xs:annotation>
					<xs:documentation>An interface between a geobody and other geologic objects.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="horizon">
				<xs:annotation>
					<xs:documentation>An interface associated with a stratigraphic unit, which could be the top or bottom of the unit.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="obj_GeologicUnitFeature">
		<xs:annotation>
			<xs:documentation>A volume of rock located between one or more boundary features.  The limiting boundary features should be genetic boundary features (i.e. should not be faults).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractGeologicFeature">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="obj_RockFluidUnitFeature">
		<xs:annotation>
			<xs:documentation>A fluid phase plus one or more stratigraphic units. A unit may correspond to a pair of horizons that are not adjacent stratigraphically, e.g., a coarse zonation, and is often used to define the reservoir. For types, see Phase.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:obj_GeologicUnitFeature">
				<xs:sequence>
					<xs:element name="Phase" type="resqml:Phase" minOccurs="1" maxOccurs="1"/>
					<xs:element name="FluidBoundaryBottom" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
					<xs:element name="FluidBoundaryTop" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="FluidContact">
		<xs:annotation>
			<xs:documentation>Enumerated values used to indicate a specific type of fluid boundary feature. See attributes below.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="free water contact">
				<xs:annotation>
					<xs:documentation>A surface defined by vanishing capillary pressure between the water and hydrocarbon phases.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="gas oil contact">
				<xs:annotation>
					<xs:documentation>A surface defined by vanishing capillary pressure between the gas and oil hydrocarbon phases.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="gas water contact">
				<xs:annotation>
					<xs:documentation>A surface defined by vanishing capillary pressure between the water and gas hydrocarbon phases.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="seal">
				<xs:annotation>
					<xs:documentation>Identifies a break in the hydrostatic column.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="water oil contact">
				<xs:annotation>
					<xs:documentation>A surface defined by vanishing capillary pressure between the water and oil hydrocarbon phases.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="obj_BoundaryFeature">
		<xs:annotation>
			<xs:documentation>An interface between two geological objects, such as horizons and faults. It is a surface object. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractGeologicFeature">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ChronostratigraphicRank">
		<xs:annotation>
			<xs:documentation>The chronostratigraphic ranking of “well known” stratigraphic unit features in the global chronostratigraphic column.
The ranks are organized from container to contained, e.g., (eon=1), (era=2), (period=3)
The units are ranked by using age as ordering criteria, from oldest to youngest. 
These stratigraphic units have no associated interpretations or representations.

BUSINESS RULE: The name must reference a well-known stratigraphic unit feature (such as "Jurassic"), for example, from the International Commission on Stratigraphy (http://www.stratigraphy.org). </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="eml:NameString" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of the chrono rank such as "epoch, era, ..."</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contains" type="eml:DataObjectReference" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="obj_GlobalChronostratigraphicColumn">
		<xs:annotation>
			<xs:documentation>Chronological successions of some chronostratigraphic units organized into 1 to n chronological ranks.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractResqmlDataObject">
				<xs:sequence>
					<xs:element name="ChronostratigraphicColumnComponent" type="resqml:ChronostratigraphicRank" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="TectonicBoundaryKind">
		<xs:annotation>
			<xs:documentation>Enumeration of the types of tectonic boundaries.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="fault">
				<xs:annotation>
					<xs:documentation>Fracture with displacement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="fracture">
				<xs:annotation>
					<xs:documentation>Fracture</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="obj_StratigraphicUnitFeature">
		<xs:annotation>
			<xs:documentation>A stratigraphic unit that can have a well-known (e.g., "Jurassic") chronostratigraphic top and chronostratigraphic bottom. These chronostratigraphic units have no associated interpretations or representations. 

BUSINESS RULE: The name must reference a well-known chronostratigraphic unit (such as "Jurassic"), for example, from the International Commission on Stratigraphy (http://www.stratigraphy.org).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:obj_GeologicUnitFeature">
				<xs:sequence>
					<xs:element name="ChronostratigraphicBottom" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ChronostratigraphicTop" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractGeologicFeature" abstract="true">
		<xs:annotation>
			<xs:documentation>Objects that exist a priori, in the natural world, for example: the rock formations and how they are positioned with regard to each other; the fluids that are present before production; or the position of the geological intervals with respect to each. Some of these objects are static—such as geologic intervals---while others are dynamic—such as fluids; their properties, geometries, and quantities may change over time during the course of field production.
RESQML has these types of features: geologic and technical.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractFeature">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="OrganizationKind">
		<xs:annotation>
			<xs:documentation>Enumerations used to indicate a specific type of organization. See attributes below.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="earth model">
				<xs:annotation>
					<xs:documentation>An organization composed of the other types of organizations listed here.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="fluid">
				<xs:annotation>
					<xs:documentation>A volume organization composed of fluid boundaries and phase units.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="stratigraphic">
				<xs:annotation>
					<xs:documentation>A volume organization composed of geologic features, such as geobodies, stratigraphic units, and boundaries.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="structural">
				<xs:annotation>
					<xs:documentation>A surface organization composed of geologic features, such as faults, horizons, and frontier boundaries. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="obj_GeneticBoundaryFeature">
		<xs:annotation>
			<xs:documentation>A boundary between two units produced by a contrast between two deposits that occurred at two different geologic time periods. For types, see GeneticBoundaryKind.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:obj_BoundaryFeature">
				<xs:sequence>
					<xs:element name="GeneticBoundaryKind" type="resqml:GeneticBoundaryKind" minOccurs="1" maxOccurs="1"/>
					<xs:element name="AbsoluteAge" type="resqml:Timestamp" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="obj_GeobodyFeature">
		<xs:annotation>
			<xs:documentation>A volume of rock that is identified based on some specific attribute, like its mineral content or other physical characteristic. Unlike stratigraphic or phase units, there is no associated time or fluid content semantic. For types, see GeobodyKind.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:obj_GeologicUnitFeature">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="obj_OrganizationFeature">
		<xs:annotation>
			<xs:documentation>The explicit description of the relationships between geologic features, such as rock features (e.g., stratigraphic units, geobodies, phase unit) and boundary features (e.g., genetic, tectonic, and fluid boundaries). For types of organizations, see OrganizationKind.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractGeologicFeature">
				<xs:sequence>
					<xs:element name="OrganizationKind" type="resqml:OrganizationKind" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="obj_TectonicBoundaryFeature">
		<xs:annotation>
			<xs:documentation>A boundary caused by tectonic movement or metamorphism, such as a fault or a fracture. For types, see TectonicBoundaryKind.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:obj_BoundaryFeature">
				<xs:sequence>
					<xs:element name="TectonicBoundaryKind" type="resqml:TectonicBoundaryKind" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
