docker/data/xsd/energyml/resqml/v2.0.1/xsd_schemas/Wells.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/resqmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:resqml="http://www.energistics.org/energyml/data/resqmlv2" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" elementFormDefault="qualified" version="2.0">
	<xs:annotation>
		<xs:documentation>The RESQML description of a well uses a wellbore trajectory representation to describe the geometry of a wellbore, and a wellbore frame to provide the topological support for properties. Wellbore marker frames and blocked wellbores are derived from the wellbore frame.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.0/xsd_schemas/AllCommonObjects.xsd"/><xs:include schemaLocation="Geologic.xsd"/>
	<xs:include schemaLocation="Properties.xsd"/>
	<xs:include schemaLocation="Grids.xsd"/>
	<xs:include schemaLocation="Representations.xsd"/>
	<xs:include schemaLocation="Geometry.xsd"/>
	<xs:include schemaLocation="Interpretations.xsd"/>
	<xs:include schemaLocation="Common.xsd"/>
	<xs:complexType name="obj_BlockedWellboreRepresentation">
		<xs:annotation>
			<xs:documentation>The information that allows you to locate, on one or several grids (existing or planned), the intersection of volume (cells) and surface (faces) elements with a wellbore trajectory (existing or planned).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:obj_WellboreFrameRepresentation">
				<xs:sequence>
					<xs:element name="CellCount" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The number of non-null entries in the grid indices array.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CellIndices" type="resqml:AbstractIntegerArray" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The grid cell index for each blocked well cell.
BUSINESS RULE: Array length must equal cell count.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GridIndices" type="resqml:AbstractIntegerArray" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Size of array = IntervalCount. 
Null values of -1 signify that that interval is not within a grid. 
BUSINESS RULE: The cell count must equal the number of non-null entries in this array.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LocalFacePairPerCellIndices" type="resqml:AbstractIntegerArray" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>For each cell, these are the entry and exit faces of the trajectory. Use null (-1), for instance, at TD when there only one intersection. The local face-per-cell index is used because a global face index need not have been defined on the grid.

BUSINESS RULE: The array dimensions must equal 2 x CellCount.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Grid" type="eml:DataObjectReference" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="GeologicBoundaryKind">
		<xs:annotation>
			<xs:documentation>The various geologic boundary a well marker can indicate.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="fault"/>
			<xs:enumeration value="geobody"/>
			<xs:enumeration value="horizon"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="WellboreTrajectoryParentIntersection">
		<xs:annotation>
			<xs:documentation>For a wellbore trajectory in a multi-lateral well, indicates the MD of the kickoff point where the trajectory begins and the corresponding MD of the parent trajectory. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KickoffMd" type="xs:double" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ParentMd" type="xs:double" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ParentTrajectory" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="WellboreFrameIndexableElements">
		<xs:annotation>
			<xs:documentation>The elements on a wellbore frame that may be indexed.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="intervals">
				<xs:annotation>
					<xs:documentation>Count = nodeCount-1</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="nodes">
				<xs:annotation>
					<xs:documentation>Count = nodeCount</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cells">
				<xs:annotation>
					<xs:documentation>Count = Number of intervals that intersect grids in the blocked wellbore. When applied to the wellbore frame representation, this is identical to the number of intervals.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="obj_DeviationSurveyRepresentation">
		<xs:annotation>
			<xs:documentation>Specifies the station data from a deviation survey.

The deviation survey does not provide a complete specification of the geometry of a wellbore trajectory. Although a minimum-curvature algorithm is used in most cases, the implementation varies sufficiently that no single algorithmic specification is available as a data transfer standard.

Instead, the geometry of a RESQML wellbore trajectory is represented by a parametric line, parameterized by the MD.

CRS and units of measure do not need to be consistent with the CRS and units of measure for wellbore trajectory representation.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractRepresentation">
				<xs:sequence>
					<xs:element name="WitsmlDeviationSurvey" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1"/>
					<xs:element name="IsFinal" type="xs:boolean" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Used to indicate that this is a final version of the deviation survey, as distinct from the interim interpretations.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StationCount" type="xs:positiveInteger" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of Stations</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdUom" type="eml:LengthUom" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Units of Measure of the measured depths along this deviation survey.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Mds" type="resqml:AbstractDoubleArray" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>MD values for the position of the stations

BUSINESS RULE: Array length equals station count</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FirstStationLocation" type="resqml:Point3d" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>XYZ location of the first station of the deviation survey.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AngleUom" type="eml:PlaneAngleUom" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Defines the units of measure for the azimuth and inclination</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Azimuths" type="resqml:AbstractDoubleArray" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>An array of azimuth angles, one for each survey station. The rotation is relative to the ProjectedCrs north with a positive value indication a clockwise rotation as seen from above.
 
If the local CRS - whether a LocalTime3dCrs or a LocalDepth3dCrs - is rotated relative to the ProjectedCrs, the azimuths remain relative to the ProjectedCrs not the local CRS.
 
Note that the projection’s north is not the same as true north or magnetic north. A good definition of the different kinds of “north” can be found in the OGP Surveying &amp; Positioning Guidance Note 1 http://www.ogp.org.uk/pubs/373-01.pdf (the "True, Grid and Magnetic North bearings" paragraph).
 
BUSINESS RULE: Array length equals station count</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Inclinations" type="resqml:AbstractDoubleArray" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Dip (or inclination) angle for each station.

BUSINESS RULE: Array length equals station count</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdDatum" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
					<xs:element name="TimeIndex" type="resqml:TimeIndex" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="obj_WellboreFrameRepresentation">
		<xs:annotation>
			<xs:documentation>Representation of a wellbore that is organized along a wellbore trajectory by its MD values. RESQML uses MD values to associate properties on points and to organize association of properties on intervals between MD points. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractRepresentation">
				<xs:sequence>
					<xs:element name="NodeCount" type="xs:positiveInteger" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of nodes. Must be positive.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NodeMd" type="resqml:AbstractDoubleArray" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>MD values for each node.
BUSINESS RULE: MD values and UOM must be consistent with the trajectory representation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WitsmlLogReference" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The reference to the equivalent WITSML well log.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IntervalStratigraphiUnits" type="resqml:IntervalStratigraphicUnits" minOccurs="0" maxOccurs="1"/>
					<xs:element name="CellFluidPhaseUnits" type="resqml:CellFluidPhaseUnits" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Trajectory" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="MdDomain">
		<xs:annotation>
			<xs:documentation>Different types of measured depths. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="driller">
				<xs:annotation>
					<xs:documentation>The original depths recorded while drilling a well or LWD or MWD.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="logger">
				<xs:annotation>
					<xs:documentation>Depths recorded when logging a well, which are in general considered to be more accurate than driller's depth.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="obj_WellboreTrajectoryRepresentation">
		<xs:annotation>
			<xs:documentation>Representation of a wellbore trajectory.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractRepresentation">
				<xs:sequence>
					<xs:element name="StartMd" type="xs:double" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Specifies the measured depth  for the start of the wellbore trajectory.

Range may often be from kickoff to TD, but this is not necessary. 

BUSINESS RULE: Start MD is always less than the Finish MD.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FinishMd" type="xs:double" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Specifies the ending measured depth of the range for the wellbore trajectory.

Range may often be from kickoff to TD, but this is not necessary. 

BUSINESS RULE: Start MD is always less than the Finish MD.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdUom" type="eml:LengthUom" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The unit of measure of the reference MD.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdDomain" type="resqml:MdDomain" minOccurs="0" maxOccurs="1"/>
					<xs:element name="WitsmlTrajectory" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Pointer to the WITSML trajectory that is contained in the referenced wellbore. (For information about WITSML well and wellbore references, see the definition for RESQML technical feature, WellboreFeature).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Geometry" type="resqml:AbstractParametricLineGeometry" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Explicit geometry is not required for vertical wells</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdDatum" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
					<xs:element name="DeviationSurvey" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ParentIntersection" type="resqml:WellboreTrajectoryParentIntersection" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="obj_MdDatum">
		<xs:annotation>
			<xs:documentation>Specifies the location of the measured depth = 0 reference point.

The location of this reference point is defined with respect to a CRS, which need not be the same as the CRS of a wellbore trajectory representation, which may reference this location.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractResqmlDataObject">
				<xs:sequence>
					<xs:element name="Location" type="resqml:Point3d" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The location of the md reference point relative to a local CRS.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdReference" type="resqml:MdReference" minOccurs="1" maxOccurs="1"/>
					<xs:element name="LocalCrs" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WellboreMarker">
		<xs:annotation>
			<xs:documentation>Representation of a wellbore marker that is located along a wellbore trajectory, one for each MD value in the wellbore frame.

BUSINESS RULE: Ordering of the wellbore markers must match the ordering of the nodes in the wellbore marker frame representation</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractResqmlDataObject">
				<xs:sequence>
					<xs:element name="FluidContact" type="resqml:FluidContact" minOccurs="0" maxOccurs="1"/>
					<xs:element name="FluidMarker" type="resqml:FluidMarker" minOccurs="0" maxOccurs="1"/>
					<xs:element name="GeologicBoundaryKind" type="resqml:GeologicBoundaryKind" minOccurs="0" maxOccurs="1"/>
					<xs:element name="WitsmlFormationMarker" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Optional WITSML wellbore reference of the well marker frame.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Interpretation" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="obj_WellboreMarkerFrameRepresentation">
		<xs:annotation>
			<xs:documentation>A well log frame where each entry represents a well marker</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:obj_WellboreFrameRepresentation">
				<xs:sequence>
					<xs:element name="WellboreMarker" type="resqml:WellboreMarker" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="MdReference">
		<xs:annotation>
			<xs:documentation>Reference location for the measured depth datum (MdDatum).

The type of local or permanent reference datum for vertical gravity based (i.e., elevation and vertical depth) and measured depth coordinates within the context of a well. This list includes local points (e.g., kelly bushing) used as a datum and vertical reference datums (e.g., mean sea level).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ground level"/>
			<xs:enumeration value="kelly bushing"/>
			<xs:enumeration value="mean sea level">
				<xs:annotation>
					<xs:documentation>A tidal datum. The arithmetic mean 
of hourly heights observed over the National Tidal Datum Epoch (19 years).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="derrick floor"/>
			<xs:enumeration value="casing flange">
				<xs:annotation>
					<xs:documentation>A flange affixed to the top of the casing string used to attach production equipment.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="arbitrary point">
				<xs:annotation>
					<xs:documentation>This value should not be used for drilled wells. All reasonable attempts should be made to determine the appropriate value. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="crown valve"/>
			<xs:enumeration value="rotary bushing"/>
			<xs:enumeration value="rotary table"/>
			<xs:enumeration value="sea floor"/>
			<xs:enumeration value="lowest astronomical tide">
				<xs:annotation>
					<xs:documentation>The lowest tide level over the duration of the National Tidal Datum Epoch (19 years).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mean higher high water">
				<xs:annotation>
					<xs:documentation>A tidal datum. The average of the higher high water height of each tidal day observed over the National Tidal Datum Epoch (19 years).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mean high water">
				<xs:annotation>
					<xs:documentation>A tidal datum. The average of all the high water heights observed over the National Tidal Datum Epoch (19 years).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mean lower low water">
				<xs:annotation>
					<xs:documentation>A tidal datum. The average of the lower low water height of each tidal day observed over the National Tidal Datum Epoch (19 years ).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mean low water">
				<xs:annotation>
					<xs:documentation>A tidal datum. The average of all the low water heights observed over the National Tidal Datum Epoch (19 years).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mean tide level">
				<xs:annotation>
					<xs:documentation>A tidal datum. The arithmetic mean of mean high water and mean low water. Same as half-tide level.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="kickoff point">
				<xs:annotation>
					<xs:documentation>This value is not expected to be used in most typical situations. All reasonable attempts should be made to determine the appropriate value.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FluidMarker">
		<xs:annotation>
			<xs:documentation>The various fluid a well marker can indicate.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="gas down to"/>
			<xs:enumeration value="gas up to"/>
			<xs:enumeration value="oil down to"/>
			<xs:enumeration value="oil up to"/>
			<xs:enumeration value="water down to"/>
			<xs:enumeration value="water up to"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
