docker/data/xsd/energyml/prodml/v2.2/xsd_schemas/DasAcquisition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/prodmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:prodml="http://www.energistics.org/energyml/data/prodmlv2" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" elementFormDefault="qualified" version="2.2" attributeFormDefault="unqualified">
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics Product License Agreement at
			http://www.energistics.org/product-license-agreement
			Use of this file constitutes agreement with the Energistics Product License Agreement.
			Copyright (c) 2021 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
	<xs:annotation>
		<xs:documentation>Schema for distributed acoustic sensing (DAS) acquisition. </xs:documentation>
	</xs:annotation>
	<!--														-->
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.3/xsd_schemas/EmlAllObjects.xsd"/>
	<!--														-->
	<xs:include schemaLocation="DtsInstrumentBox.xsd"/>
	<xs:include schemaLocation="ProdmlCommon.xsd"/>
	<xs:include schemaLocation="FiberOpticalPath.xsd"/>
	<xs:simpleType name="DasCalibrationColumn">
		<xs:annotation>
			<xs:documentation>This enum controls the possible types of columns allowed in a Calibration record in HDF5.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="FacilityLength"/>
			<xs:enumeration value="LocusIndex"/>
			<xs:enumeration value="OpticalPathDistance"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DasCalibrationInputPointKind">
		<xs:annotation>
			<xs:documentation>The kind of calibration point. This is an extensible enumeration type. Current enum values are ‘tap test’ and ‘other calibration point’. Other commonly used calibration points are understood to be packers, sub surface safety valves, perforations, all of which give recognizable noise signals observed in the DAS data.  At the time of issue of this standard there is not a consensus regarding which other values should be regarded as standard kinds of calibration input points.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="other calibration point">
				<xs:annotation>
					<xs:documentation>A Calibration Input Point which is of any kind other than a Tap Test.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="tap test">
				<xs:annotation>
					<xs:documentation>A tap test Calibration Input Point.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DasCalibrationInputPointKindExt">
		<xs:annotation>
			<xs:documentation>This is an extension of the calibration input point kind enumeration.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="prodml:DasCalibrationInputPointKind eml:EnumExtensionPattern"/>
	</xs:simpleType>
	<xs:simpleType name="DasCalibrationTypeExt">
		<xs:annotation>
			<xs:documentation>This extension of calibration type</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="prodml:DasCalibrationInputPointKind eml:EnumExtensionPattern"/>
	</xs:simpleType>
	<xs:simpleType name="DasDimensions">
		<xs:annotation>
			<xs:documentation>Specifies the possible orientations of the data array. For multiple H5 files:
	- Must specify that the indexes split OVER TIME
	- Even if loci were the index
	- Each divided file still contains the split time array</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="frequency">
				<xs:annotation>
					<xs:documentation>Enumeration value to indicate the frequency dimension in a multi-dimensional array.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="locus">
				<xs:annotation>
					<xs:documentation>Enumeration value to indicate the locus dimension in a multi-dimensional array.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="time">
				<xs:annotation>
					<xs:documentation>Enumeration value to indicate the time dimension in a multi-dimensional array.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FacilityKind">
		<xs:annotation>
			<xs:documentation>The facility kind, (for example, wellbore, pipeline, etc). </xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="generic">
				<xs:annotation>
					<xs:documentation>The calibration affects the acquisition which runs neither inside a well or a pipeline.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="pipeline">
				<xs:annotation>
					<xs:documentation>The calibration affects the acquisition which runs inside a pipeline.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="wellbore"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Calibration">
		<xs:annotation>
			<xs:documentation>This object contains, for a single facility (defined by its parent Facility Calibration), a single Calibration, ie, details of the calibration process and results whereby each locus (an acquired data point along the fiber optical path) is mapped to a physical location in the facility.  It is common in DAS processing for such calibrations to be refined over time as further data become available.  Each such successive calibration can be described using an instance of this object.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Remark" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Textual description about the value of this field.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastLocusToEndOfFiber" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This element records the length, which can be observed in the DAS data, between the last locus in a fiber optical path, and the end of the fiber. As such, this distance is a useful input to the calibration process. There will only be one such measurement along a fiber optical path, that on the last facility before the end of the fiber (eg at the bottom a wellbore, in the event that say a flowline and then a wellbore are being measured using the same fiber optical path). For this reason this element is optional.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OTDR" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>If a OTDR (optical time domain reflectometry) survey is carried out, a top level object called OTDR Acquisition can be created to report the results.  In the event that such a survey is used as the input to a Calibration, then a Data Object Reference to that object can be inserted with this element.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WellboreDatum" type="eml:ReferencePointKind" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>In the event that the facility kind is a wellbore, this element is used to record the datum from which measured depth is referenced.  The type is WellboreDatumReference, an enum in the Energistics Common package (example value, kelly bushing).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PipelineDatum" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>In the event that the facility kind is a pipeline, this element is used to record the datum from which facility (pipeline) length is referenced.  The type is a string since there is currently no standard enum for this type of data.  It is expected that the value would be a string to describe, eg one end of the pipe from which measurement is made.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Originator" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name (or other human-readable identifier) of the person who initially originated the Calbration. If that information is not available, then this is the user who created the format file. The originator remains the same as the object is subsequently edited. 

This is the equivalent in ISO 19115 to the CI_Individual.name or the CI_Organization.name of the citedResponsibleParty whose role is "originator".

Legacy DCGroup - author</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Creation" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time the Calibration was created in the source application or, if that information is not available, when it was saved to the file.

This is the equivalent of the ISO 19115 CI_Date where the CI_DateTypeCode = ”creation"

Format:
YYYY-MM-DDThh:mm:ssZ[+/-]hh:mm

Legacy DCGroup - created</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Editor" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name (or other human-readable identifier) of the last person who updated the Calibration. 

This is the equivalent in ISO 19115 to the CI_Individual.name or the CI_Organization.name of the citedResponsibleParty whose role is "editor".

Legacy DCGroup - contributor </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastUpdate" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time the Calibration was last modified in the source application or, if that information is not available, when it was last saved to the format file.

This is the equivalent of the ISO 19115 CI_Date where the CI_DateTypeCode = ”lastUpdate"


Format:
YYYY-MM-DDThh:mm:ssZ[+/-]hh:mm

Legacy DCGroup - modified </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocusDepthPoint" type="prodml:CompoundExternalArray" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This array must have a compound data type consisting of three data types: LocusIndex (int64), OpticalPathDistance (float64), FacilityLength (float64)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalibrationInputPoint" type="prodml:DasCalibrationInputPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CompoundExternalArray">
		<xs:annotation>
			<xs:documentation>Three instances of the Columns element are used to provide the order of the columns of data in the associated Compound External Array. Each instance will contain one the three enum values: FacilityLength, LocusIndex, OpticalPathDistance, which make up the array.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractValueArray">
				<xs:sequence>
					<xs:element name="Columns" type="prodml:DasCalibrationColumn" minOccurs="3" maxOccurs="3">
						<xs:annotation>
							<xs:documentation>Specifies the ordering of the columns of a Calibration array in the HDF5 file. A Calibration array contains columns for the following quantities: Facility Length, Locus Index and Optical Path Distance. The order of these columns is flexible but is specified by this element. It comprises three values, each of which must be one of the values of the enum DasCalibrationColumn, which are the three quantities listed above.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Values" type="eml:ExternalDataArray" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reference to an HDF5 dataset.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DasAcquisition" type="prodml:DasAcquisition" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="DasAcquisition">
		<xs:annotation>
			<xs:documentation>Contains metadata about the DAS acquisition common to the various types of data acquired during the acquisition, which includes DAS measurement instrument data, fiber optical path, time zone, and core acquisition settings like pulse rate and gauge length, measurement start time and whether or not this was a triggered measurement.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="AcquisitionId" type="eml:UuidString" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A UUID that identifies the DAS acquisition job, which IS NOT the same as the UUID that identifies an instance of a DasAcquisition data object. For example, an acquisition job initially has a raw data set. When you transfer that data, the DAS acquisition data object (consisting of the raw data) has a UUID to identify it, and it has the acquisition job number (AcquistionId, which is also a UUID).  Later, an FBE data set is derived from the raw data; the DAS acquisition data object for the FBE data will have a different UUID than the DAS acquisition data object raw data set, but it will have the SAME AcquistionId, because the FBE data is derived from the raw data of the same acquisition job.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AcquisitionDescription" type="eml:String2000" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Free format description of the acquired DAS data. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OpticalPath" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Description of the fiber optical path. A fiber optical path consists of a series of fibers, connectors, etc. together forming the path for the light pulse emitted from the measurement instrument. If no optical path description is available, then the service provider should supply an optical path with a single segment of sufficient length to fit the optical data acquired. The length of the segment should be able to fit all the acquired loci.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DasInstrumentBox" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Description of the measurement instrument. Often referred to as interrogator unit or IU. If the instrument box is not known, the name and title of the box may be set to “UNKNOWN”.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FacilityId" type="eml:String64" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>This is a human-readable name for the facility or facilities that this acquisition is measuring. If the facility name is not available, set one facility with the name “UNKNOWN”.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ServiceCompanyDetails" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Description of the vendor providing the DAS data acquisition service. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PulseRate" type="eml:FrequencyMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The rate at which the interrogator unit interrogates the fiber sensor. For most interrogators, this element is informally known as the ‘pulse rate’.  </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PulseWidth" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The width of the ‘pulse’ sent down the fiber. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GaugeLength" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The distance (length along the fiber) between pair of pulses used in a dual-pulse or multi-pulse system. This is a distance that the DAS interrogator unit manufacturer designs and implements by hardware or software to affect the interrogator unit spatial resolution. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpatialSamplingInterval" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The separation between two consecutive ‘spatial sample’ points on the fiber at which the signal is measured. Not to be confused with ‘spatial resolution’.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MinimumFrequency" type="eml:FrequencyMeasure" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The minimum signal frequency a measurement instrument can provide as specified by the vendor. If the minimum frequency of the instrument is not known, the value should match the minimum frequency in the related raw, FBE, and/or spectrum data arrays.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaximumFrequency" type="eml:FrequencyMeasure" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The maximum signal frequency a measurement instrument can provide as specified by the vendor. This is the Nyquist frequency (or some fraction thereof) of PulseRate. If the maximum frequency of the instrument is not known, the value should match the maximum frequency in the related raw, FBE and/or spectrum data arrays.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumberOfLoci" type="eml:NonNegativeLong" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The total number of ‘loci’ (acoustic sample points) acquired by the measurement instrument in a single ‘scan’ of the fiber. If the total number of loci of the instrument is not known, it should be set to a value such that all related raw, FBE, and spectra data can be accommodated.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StartLocusIndex" type="xs:long" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The first ‘locus’ acquired by the interrogator unit, where ‘Locus Index 0’ is the acoustic sample point at the connector of the measurement instrument. Set this value to accommodate all related raw, FBE, and spectrum data arrays. If an offset is applied such that the first acoustic sample point is not located at the connector of the measurement instrument, then set this to the locus corresponding to the offset.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MeasurementStartTime" type="eml:TimeStamp" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The time-date specification of the beginning of a data ‘sample’ in a ‘time series’ in ISO 8601 compatible format. Time zone should be included. Sub-second precision should be included where applicable but not zero-padded. ­This is typically a GPS-locked time measurement. If this is not known, use the earliest timestamp in the related raw, FBE and/or spectrum data arrays. In very rare situations where there is no data array, use 1970-01-01T00;00;00.000000+00:00.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TriggeredMeasurement" type="xs:boolean" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Measurement for an acquisition that requires synchronization between a transmitting source (Tx) and a recording (Rx) measurement system. It must be recorded for every measurement regardless of what application it will serve. If set to true, then the DasRaw group should contain 1 or more RawDataTriggerTime. If set to false, then no such RawDataTriggerTime is expected.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Raw" type="prodml:DasRaw" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Custom" type="prodml:DasCustom" minOccurs="0" maxOccurs="1"/>
					<xs:element name="FacilityCalibration" type="prodml:FacilityCalibration" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Processed" type="prodml:DasProcessed" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ServiceCompanyName" type="eml:String64" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DasCalibrationInputPoint">
		<xs:annotation>
			<xs:documentation>This object contains, for a given parent Calibration, the inputs to the calibration process. Each such point is represented by an instance of this object. Each such instance represents a place where a physical feature of the fiber optical path or the facility can be observed as a signal in the DAS data.  For example, a tap test is where a noise (tapping) is generated at a known place (a known location in the facility), and can be seen in the DAS signal at a specific locus.  This fact is recorded in one instance of this object.  Over time it is expected that other commonly used noise generating locations will be listed in the enum for InputPointType.

Business Rule: Note that it is possible to have a valid Calibration comprising only a collection of DasCalibrationInputPoint. It is not a requirement to also have the corresponding "look up table" of a collection of FiberLocusDepthPoint.  If the receiving application can create its own interpolation of locus depth points then the collection of DasCalibrationInputPoint is all that is needed.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Remark" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A brief meaningful description of the type of calibration point. This is an extensible enumeration type. Current reserved keywords are ‘locus calibration’, ‘tap test’ and ‘last locus to end of fiber’ for commonly used calibration points.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocusIndex" type="eml:NonNegativeLong" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The locus index for the calibration point. Where ‘Locus Index 0’ is generally understood to mean, the acoustic sample point at the connector of the measurement instrument.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpticalPathDistance" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The optical path distance (ie, the distance along the fiber) from the connector of the measurement instrument to the acoustic sample point (with the given locus index) of the calibration point. Mandatory since any Calibration Input Point must have a known optical oath distance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FacilityLength" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The ‘facility length’ corresponding to the locus. The ‘facility length’ is the length along the physical facility (eg measured depth if the facility is a wellbore). This length corrects the optical path distance for the offset from previous facilities on the same fiber optical path, surface patch cord lengths, overstuffing, additional fiber in turnaround-subs or H-splices that increase the optical path length on the OTDR, but not the actual facility length. Facility length is the value which is required to associate the DAS data at a locus with a physical location, but at the time of the Calibration this may not be known and so this element is optional.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InputPointKind" type="prodml:DasCalibrationInputPointKindExt" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The kind of calibration point. This is an extensible enumeration type. Current enum values are ‘tap test’ and ‘other calibration point’. Other commonly used calibration points are understood to be packers, sub surface safety valves, perforations, all of which give recognizable noise signals observed in the DAS data.  At the time of issue of this standard there is not a consensus regarding which other values should be regarded as standard kinds of calibration input points.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DasCustom">
		<xs:annotation>
			<xs:documentation>This object contains service–provider-specific customization parameters. Service providers can define the contents of this data element as required. This data object has intentionally not been described in detail to allow for flexibility.
Note that this object is optional and if used, the service provider needs to provide a description of the data elements to the customer.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="DasExternalDatasetPart">
		<xs:annotation>
			<xs:documentation>Array of integer values provided explicitly by an HDF5 dataset. The null value must be  explicitly provided in the NullValue attribute of this class.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:ExternalDataArrayPart">
				<xs:sequence>
					<xs:element name="PartStartTime" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The timestamp in human readable, ISO 8601 format of the first recorded sample in the sub-record of the raw data array stored in the corresponding HDF data file. Time zone should be included. Sub-second precision should be included where applicable but not zero-padded. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PartEndTime" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The timestamp in human readable, ISO 8601 format of the last recorded sample in the sub-record of the raw data array stored in the corresponding HDF data file. Time zone should be included. Sub-second precision should be included where applicable but not zero-padded. </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DasFbe">
		<xs:annotation>
			<xs:documentation>This object contains the attributes of FBE processed data. This includes the FBE data unit, location of the FBE data along the fiber optical path, information about times, (optional) filter related parameters, and UUIDs of the original raw and/or spectra files from which the files were processed. Note that the actual FBE data samples and times arrays are not present in the XML files but only in the HDF5 files because of their size. The XML files only contain references to locate the corresponding HDF files containing the actual FBE samples and times.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FbeIndex" type="eml:NonNegativeLong" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The nth (zero-based) count of this FBE instance in the Acquisition.  Recommended if there is more than 1 FBE instance in this Acquisition.  This index corresponds to the FBE array number in the HDF5 file.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FbeDescription" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of the FBE data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FbeDataUnit" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data unit for the FBE data. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OutputDataRate" type="eml:FrequencyMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The rate at which the FBE data is provided for all ‘loci’ (spatial samples). This is typically equal to the interrogation rate/pulse rate of the DAS measurement system or an integer fraction thereof.
Note this attribute is mandatory for FBE and spectrum data. For raw data this attribute is optional. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartLocusIndex" type="xs:long" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The first ‘locus’ acquired by the interrogator unit, where ‘Locus Index 0’ is the acoustic sample point at the connector of the measurement instrument.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberOfLoci" type="eml:NonNegativeLong" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The total number of ‘loci’ (acoustic sample points) acquired by the measurement instrument in a single ‘scan’ of the fiber. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpatialSamplingInterval" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The separation between two consecutive ‘spatial sample’ points on the fiber at which the signal is measured. It should not be confused with ‘spatial resolution’. If this data element is present in the DASFbe object, then it overwrites the SpatialSamplingInterval value described in DASAcquistion.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpatialSamplingIntervalUnit" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Only required in Hdf5 file to record the unit of measure of the sampling interval of the Fbe.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FilterType" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A string describing the type of filter applied by the vendor. Important frequency type filter classes are: frequency response filters (low-pass, high-pass, band-pass, notch filters) and butterworth, chebyshev and bessel filters. The filter type and characteristics applied to the acquired or processed data is important information for end-user applications.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WindowSize" type="eml:NonNegativeLong" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of samples in the filter window applied.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WindowOverlap" type="eml:NonNegativeLong" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of sample overlaps between consecutive filter windows applied.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WindowFunction" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The window function applied to the sample window used to calculate the frequency band. Example 'HANNING', 'HAMMING', 'BESSEL' window.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransformType" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A string describing the type of mathematical transformation applied by the vendor. Typically this is some type of discrete fast Fourier transform (often abbreviated as DFT, DFFT or FFT).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransformSize" type="eml:NonNegativeLong" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of samples used in the TransformType.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RawReference" type="eml:UuidString" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A universally unique identifier (UUID) for the HDF file containing the raw data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpectraReference" type="eml:UuidString" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A universally unique identifier (UUID) for the HDF file containing the spectra data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FbeData" type="prodml:DasFbeData" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A DAS array object containing the FBE DAS data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FbeDataTime" type="prodml:DasTimeArray" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A DAS array object containing the sample times corresponding to a single ‘scan’ of the fiber. In a single ‘scan’, the DAS measurement system acquires raw data samples for all the loci specified by StartLocusIndex and NumberOfLoci. The ‘scan’ frequency is equal to the DAS acquisition pulse rate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Custom" type="prodml:DasCustom" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="uuid" use="required" type="eml:UuidString">
			<xs:annotation>
				<xs:documentation>A universally unique identifier (UUID) of an instance of FBE DAS data.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DasFbeData">
		<xs:annotation>
			<xs:documentation>Two dimensional (loci &amp; time) array containing processed frequency band extracted data samples. This processed data type is obtained by applying a frequency band filter to the raw data acquired by the DAS acquisition system. For each frequency band provided, a separate DASFbeData array object is created. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FbeDataIndex" type="eml:NonNegativeLong" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The nth (zero-based) count of this DasFbeData in the DasFbe.  Recommended if there is more than 1 dataset in this FBE.  This index corresponds to the FbeData array number in the HDF5 file.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartFrequency" type="eml:FrequencyMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Start of an individual frequency band in a DAS FBE data set. This typically corresponds to the frequency of the 3dB point of the filter. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndFrequency" type="eml:FrequencyMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>End of an individual frequency band in a DAS FBE data set. This typically corresponds to the frequency of the 3dB point of the filter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dimensions" type="prodml:DasDimensions" minOccurs="2" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>An array of two elements describing the ordering of the FBE data array. The fastest running index is stored in the second element. For example the 
{‘time’, ‘locus’} indicates that ‘locus’ is the fastest running index. Note that vendors may deliver data with different orderings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FbeDataArray" type="eml:AbstractNumericArray" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DasInstrumentBox" type="prodml:DasInstrumentBox" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="DasInstrumentBox">
		<xs:annotation>
			<xs:documentation>The group of elements corresponding to a DAS instrument box.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="SerialNumber" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>An identification tag for the instrument box. A serial number is a type of identification tag however some tags contain many pieces of information. This structure just identifies the tag and does not describe the contents.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Parameter" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Additional parameters to define the instrument box as a piece of equipment. These should not be parameters to define the installation or use of the box in the wellbore, or other system. This element should be used only if an appropriate parameter is not available as an element, or in the calibration operation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FacilityIdentifier" type="prodml:FacilityIdentifier" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Identifies the facility to which an instrument is attached.  Type is the PRODML Common Facility Identifier.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Instrument" type="prodml:Instrument" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The general data of an instrument, including vendor information, in the installed system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FirmwareVersion" type="eml:String64" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Firmware version of the DAS Instrument box. If not known, set to “UNKNOWN”.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PatchCord" type="prodml:DtsPatchCord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Description of the patch cord connecting the fiber optic path to the DAS instrument box connector. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InstrumentBoxDescription" type="eml:String2000" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>An identification tag for the instrument box. A serial number is a type of identification tag however some tags contain many pieces of information. This structure just identifies the tag and does not describe the contents.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DasProcessed">
		<xs:annotation>
			<xs:documentation>This object contains data objects for processed data types and has no data attributes. Currently only two processed data types have been defined: the frequency band extracted (FBE) and spectra. In the future other processed data types may be added. 
Note that a DasProcessed object is optional and only present if DAS FBE or DAS spectra data is exchanged. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Fbe" type="prodml:DasFbe" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Spectra" type="prodml:DasSpectra" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DasRaw">
		<xs:annotation>
			<xs:documentation>This object contains the attributes of raw data acquired by the DAS measurement instrument. This includes the raw data unit, the location of the raw data acquired along the fiber optical path, and information about times and (optional) triggers. Note that the actual raw data samples, times and trigger times arrays are not present in the XML files but only in the HDF5 files because of their size. The XML files only contain references to locate the corresponding HDF files, which contain the actual raw samples, times, and (optional) trigger times.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RawIndex" type="eml:NonNegativeLong" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The nth (zero-based) count of this Raw instance in the Acquisition.  Recommended if there is more than 1 Raw instance in this Acquisition.  This index corresponds to the Raw array number in the HDF5 file.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RawDescription" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Free format description of the raw DAS data acquired.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RawDataUnit" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data unit for the DAS measurement instrument. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OutputDataRate" type="eml:FrequencyMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The rate at which the spectra data is provided for all ‘loci’ (spatial samples). This is typically equal to the interrogation rate/pulse rate of the DAS measurement system or an integer fraction thereof.
This attribute is optional in the Raw Data object. If present, it overrides the Acquisition PulseRate. If not present, then OutputDataRate is assumed equal to the PulseRate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartLocusIndex" type="xs:long" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The first ‘locus’ acquired by the interrogator unit. Where ‘Locus Index 0’ is the acoustic sample point at the connector of the measurement instrument.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberOfLoci" type="eml:NonNegativeLong" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The total number of ‘loci’ (acoustic sample points) acquired by the measurement instrument in a single ‘scan’ of the fiber. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RawData" type="prodml:DasRawData" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A DAS array object containing the raw DAS data. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RawDataTime" type="prodml:DasTimeArray" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A DAS array object containing the sample times corresponding to a single ‘scan’ of the fiber. In a single ‘scan’, the DAS measurement system acquires raw data samples for all the loci specified by StartLocusIndex. The ‘scan’ frequency is equal to the DAS Acquisition Pulse Rate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RawDataTriggerTime" type="prodml:DasTimeArray" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A DAS array object containing the times of the triggers in a triggered measurement. Multiple times may be stored to indicate multiple triggers within a single DAS raw data recording. This array contains only valid data if TriggeredMeasurement is set to ‘true’ in DAS Acquisition.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Custom" type="prodml:DasCustom" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="uuid" use="required" type="eml:UuidString">
			<xs:annotation>
				<xs:documentation>A universally unique identifier (UUID) for an instance of raw DAS data.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DasRawData">
		<xs:annotation>
			<xs:documentation>Two- dimensional array containing raw data samples acquired by the DAS acquisition system. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Dimensions" type="prodml:DasDimensions" minOccurs="2" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>An array of two elements describing the ordering of the raw data array. The fastest running index is stored in the second element. For the DAS measurement instrument, the ordering is typically {‘time’, ‘locus’} indicating that the locus is the fastest running index, but in some cases the order may be reversed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RawDataArray" type="eml:AbstractNumericArray" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DasSpectra">
		<xs:annotation>
			<xs:documentation>This object contains the attributes of spectra processed data. This includes the spectra data unit, location of the spectra data along the fiber optical path, information about times, (optional) filter related parameters, and UUIDs of the original raw from which the spectra file was processed and/or the UUID of the FBE files that were processed from the spectra files. Note that the actual spectrum data samples and times arrays are not present in the XML files but only in the HDF5 files because of their size. The XML files only contain references to locate the corresponding HDF files containing the actual spectrum samples and times.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SpectraIndex" type="eml:NonNegativeLong" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The nth (zero-based) count of this Spectra instance in the acquisition. Recommended if there is more than 1 Spectra instance in this acquisition.  This index corresponds to the Spectra array number in the HDF5 file.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpectraDescription" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of the spectra data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpectraDataUnit" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data unit for the spectra data. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OutputDataRate" type="eml:FrequencyMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The rate at which the spectra data is provided for all ‘loci’ (spatial samples). This is typically equal to the interrogation rate/pulse rate of the DAS measurement system or an integer fraction thereof.
Note this attribute is mandatory for FBE and spectrum data. For raw data this attribute is optional.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartLocusIndex" type="xs:long" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The first ‘locus’ acquired by the interrogator unit, where ‘Locus Index 0’ is the acoustic sample point at the connector of the measurement instrument.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberOfLoci" type="eml:NonNegativeLong" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The total number of ‘loci’ (acoustic sample points) acquired by the measurement instrument in a single ‘scan’ of the fiber. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpatialSamplingInterval" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The separation between two consecutive ‘spatial sample’ points on the fiber at which the signal is measured. It should not be confused with ‘spatial resolution’. If this data element is present in the DasSpectrum object, then it overwrites the SpatialSamplingInterval value described in DasAcquistion.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpatialSamplingIntervalUnit" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Only required in an HDF5 file to record the unit of measure of the sampling interval of the spectra.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FilterType" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A string describing the type of filter applied by the vendor. Important frequency type filter classes are: frequency response filters (low-pass, high-pass, band-pass, notch filters) and butterworth, chebyshev and bessel filters. The filter type and characteristics applied to the acquired or processed data is important information for end-user applications.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WindowSize" type="eml:NonNegativeLong" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of samples in the filter window applied.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WindowOverlap" type="eml:NonNegativeLong" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of sample overlaps between consecutive filter windows applied.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WindowFunction" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A string describing the window function applied by the vendor. 
Examples are "Hamming" or "Hanning".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransformType" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A string describing the type of mathematical transformation applied by the vendor. Typically this is some type of discrete fast Fourier transform (often abbreviated as DFT, DFFT or FFT).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransformSize" type="eml:NonNegativeLong" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of samples used in the TransformType.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RawReference" type="eml:UuidString" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unique identifier for the HDF5 file containing the raw data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FbeReference" type="eml:UuidString" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A universally unique identifier (UUID) of an instance of DAS FBE data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpectraData" type="prodml:DasSpectraData" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A DAS array object containing the spectra DAS data. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpectraDataTime" type="prodml:DasTimeArray" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A DAS array object containing the sample times corresponding to a single ‘scan’ of the fiber. In a single ‘scan’, the DAS measurement system acquires raw data samples for all the loci specified by StartLocusIndex and NumberOfLoci. The ‘scan’ frequency is equal to the DAS acquisition pulse rate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Custom" type="prodml:DasCustom" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="uuid" use="required" type="eml:UuidString">
			<xs:annotation>
				<xs:documentation>A universally unique identifier (UUID) for an instance of spectra DAS data.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DasSpectraData">
		<xs:annotation>
			<xs:documentation>Three-dimensional array (loci, time, transform) containing spectrum data samples. Spectrum data is processed data obtained by applying a mathematical transformation function to the DAS raw data acquired by the acquisition system. The array is 3D and contains TransformSize points for each locus and time for which the data is provided. For example, many service providers will provide Fourier transformed versions of the raw data to customers, but other transformation functions are also allowed. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StartFrequency" type="eml:FrequencyMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Start frequency in a DAS spectra data set. This value typically is set to the minimum frequency present in the spectra data set.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndFrequency" type="eml:FrequencyMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>End frequency in a DAS spectra data set. This value is typically set to the maximum frequency present in the spectra data set.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dimensions" type="prodml:DasDimensions" minOccurs="3" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>An array of three elements describing the ordering of the raw data array. The fastest running index is stored in the last element. For example {‘time’, ‘locus’, ‘frequency’} indicates that the frequency is the fastest running index. Note that vendors may deliver data with different orderings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpectraDataArray" type="eml:AbstractNumericArray" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DasTimeArray">
		<xs:annotation>
			<xs:documentation>The Times arrays contain the ‘scan’ or ‘trace’ times at which the raw, FBE and spectrum arrays were acquired or processed: 
	- For raw data, these are the times for which all loci in the ‘scanned’ fiber section were interrogated by a single pulse of the DAS measurement system.
	- For the processed data, these are the times of the first sample in the time window used in the frequency filter or transformation function to calculate the FBE or spectrum data.  </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StartTime" type="eml:TimeStamp" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The timestamp in human readable, ISO 8601 format of the last recorded sample in the acquisition. Note that this is the start time of the acquisition if a raw dataset is stored in multiple HDF files. The end time of the sub-record stored in an individual HDF file is stored in PartStartTime.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndTime" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The timestamp in human readable, ISO 8601 format of the last recorded sample in the acquisition. Note that this is the end time of the corresponding data set stored in multiple HDF5 files. The end time of the sub-record stored in an individual HDF5 file is stored in PartEndTime. Time zone should be included. Sub-second precision should be included where applicable but not zero-padded.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Uom" type="eml:TimeUomExt" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The unit of measure of the intervals in the time array.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeArray" type="eml:IntegerExternalArray" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FacilityCalibration">
		<xs:annotation>
			<xs:documentation>This object contains, for a single facility, details of the calibration process and results whereby each locus (an acquired data point along the fiber optical path) is mapped to a physical location in the facility.  This object should repeat for each distinct facility along the fiber optical path. Eg, a fiber optical path which runs along a flowline and then down a wellbore spans two facilities (flowline and wellbore), and each of these will have an instance of this object.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Remark" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Textual description about the value of this field.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FacilityName" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This element contains the facility name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FacilityKind" type="prodml:FacilityKind" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The facility kind, (for example, wellbore, pipeline, etc). </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wellbore" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>If the facility is a wellbore then optionally this can be used to define a Data Object Reference to a WITSML Wellbore object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpticalPathDistanceUnit" type="eml:LengthUom" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unit of measurement of OpticalPathDistance values in DasCalibrationInputPoint and FiberLocusDepthPoint elements. Required for the HDF5 file attributes since HDF5 files do not include units of measure as standard Energistics XML does. This element is a duplication therefore, in the XML files.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FacilityLengthUnit" type="eml:LengthUom" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unit of measurement of FacilityLength values in DasCalibrationInputPoint and FiberLocusDepthPoint elements. Required for the HDF5 file attributes since HDF5 files do not include units of measure as standard Energistics XML does. This element is a duplication therefore, in the XML files.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Calibration" type="prodml:Calibration" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
