docker/data/xsd/energyml/prodml/v2.2/xsd_schemas/FlowTestActivity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/prodmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:prodml="http://www.energistics.org/energyml/data/prodmlv2" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" elementFormDefault="qualified" version="2.2" attributeFormDefault="unqualified">
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics Product License Agreement at
			http://www.energistics.org/product-license-agreement
			Use of this file constitutes agreement with the Energistics Product License Agreement.
			Copyright (c) 2021 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
	<xs:annotation>
		<xs:documentation>Flow test activity schema</xs:documentation>
	</xs:annotation>
	<!--														-->
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.3/xsd_schemas/EmlAllObjects.xsd"/>
	<!--														-->
	<xs:include schemaLocation="ReportingEntity.xsd"/>
	<xs:include schemaLocation="ProdmlCommon.xsd"/>
	<xs:include schemaLocation="PressureTransientAnalysis.xsd"/>
	<xs:simpleType name="DataConditioning">
		<xs:annotation>
			<xs:documentation>The possible values for conditioning of data during PTA pre-processing.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="data outliers removed"/>
			<xs:enumeration value="data reduced"/>
			<xs:enumeration value="data smoothed"/>
			<xs:enumeration value="data time shifted"/>
			<xs:enumeration value="tide corrected"/>
			<xs:enumeration value="trend removal"/>
			<xs:enumeration value="data value shifted"/>
			<xs:enumeration value="flow to volume"/>
			<xs:enumeration value="fluid level to pressure"/>
			<xs:enumeration value="fluid level to volume"/>
			<xs:enumeration value="gauge to datum pressure"/>
			<xs:enumeration value="pressure to flow"/>
			<xs:enumeration value="volume to flow"/>
			<xs:enumeration value="data difference"/>
			<xs:enumeration value="data channel spliced"/>
			<xs:enumeration value="data channels averaged"/>
			<xs:enumeration value="rate reallocation"/>
			<xs:enumeration value="total rate calculation from phase rates"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataConditioningExt">
		<xs:annotation>
			<xs:documentation>This is an extension of the data conditioning enumeration.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="prodml:DataConditioning eml:EnumExtensionPattern"/>
	</xs:simpleType>
	<xs:simpleType name="FluidPhaseMeasuredKind">
		<xs:annotation>
			<xs:documentation>Represents the choice of phases measured by a ptaMeasuredData occurrence.  Used to indicate if a flowrate (most likely) is measuring a single phase or all phases.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="3 phase"/>
			<xs:enumeration value="gas"/>
			<xs:enumeration value="oil"/>
			<xs:enumeration value="oil+water"/>
			<xs:enumeration value="water"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TestPeriodKind">
		<xs:annotation>
			<xs:documentation>This is the type of test period: drawdowns or build up for producing flow tests and injection or fall-off for injecting well tests; or observation tests. Producing or injecting can be constant rate or variable rate. The periods where measurements are made but the testing tool is in motion, are covered by the "run in hole" and "pull out of hole" values.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="buildup"/>
			<xs:enumeration value="constant rate injection"/>
			<xs:enumeration value="fall-off"/>
			<xs:enumeration value="post-test pull out of hole"/>
			<xs:enumeration value="pre-test run in hole"/>
			<xs:enumeration value="production well test"/>
			<xs:enumeration value="variable rate injection"/>
			<xs:enumeration value="constant rate drawdown"/>
			<xs:enumeration value="shut-in observation"/>
			<xs:enumeration value="variable rate drawdown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeSeriesPointRepresentation">
		<xs:annotation>
			<xs:documentation>The representation of the points in the time series data: Point By Point meaning instantaneous measurements, or Stepwise Value At End Of Period meaning that the value reported has applied from the previous point up to the time reported.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="point by point"/>
			<xs:enumeration value="stepwise value at end of period"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AbstractFlowTestData" abstract="true">
		<xs:annotation>
			<xs:documentation>The abstract class of flow test data from which all flow data components inherit.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ChannelSet" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A grouping of channels with a compatible index, for some purpose. Each channel has its own index. A ‘compatible’ index simply means that all of the channels are either in time or in depth using a common datum.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeChannel" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Channel containing the Time data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeSeriesPointRepresentation" type="prodml:TimeSeriesPointRepresentation" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>.The representation of the points in the time series data: Point By Point meaning instantaneous measurements, or Stepwise Value At End Of Period meaning that the value reported has applied from the previous point up to the time reported.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Remark" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Textual description about the value of this field.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="optional" type="eml:String64">
			<xs:annotation>
				<xs:documentation>The unique identifier of this Flow Test Data.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AbstractPtaFlowData" abstract="true">
		<xs:annotation>
			<xs:documentation>Actual measured flow data</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractFlowTestData">
				<xs:sequence>
					<xs:element name="FluidPhaseMeasuredKind" type="prodml:FluidPhaseKind" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>An enum of which phases are being measured by this flow data Channel.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FlowChannel" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Channel containing the Flow data.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Channel" type="prodml:Channel" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="Channel">
		<xs:annotation>
			<xs:documentation>A channel is a series of individual data points. A channel is comparable to a log curve; more generally, it is comparable to a tag in a process historian. Channels organize their data points according to one or more channel indexes, like time or depth.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ChannelSet" type="prodml:ChannelSet" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="ChannelSet">
		<xs:annotation>
			<xs:documentation>A grouping of channels with a compatible index, for some purpose. Each channel has its own index. A ‘compatible’ index simply means that all of the channels are either in time or in depth using a common datum.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="Data" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The data blob in JSON form. This attribute lets you embed the bulk data in a single file with the xml, to avoid the issues that arise when splitting data across multiple files.
BUSINESS RULE: Either this element or the FileUri element must be present.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Channel" type="prodml:Channel" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DrillStemTest">
		<xs:annotation>
			<xs:documentation>Typically performed using tools conveyed on the drill string, one interval at a time.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:FlowTestActivity">
				<xs:sequence>
					<xs:element name="IntervalMeasurementSet" type="prodml:FlowTestMeasurementSet" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FlowTestActivity" type="prodml:FlowTestActivity" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="FlowTestActivity">
		<xs:annotation>
			<xs:documentation>Describes the measurement set of  a single flow test activity.  In most types of tests, this measurement set is obtained at one interval (an interval being a connection to reservoir). 
In interference tests (vertical or interwell) there will be more than 1 interval, each with its own measurement set. 
This object is abstract; you must choose one of the available types.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FlowTestLocation">
		<xs:annotation>
			<xs:documentation>Describes the location of the reservoir connection from which pressure and/or flow are being measured. 

BUSINESS RULE: Can be one of: (i) a named wellbore (a WITSML object) together with a MD Interval; (ii) a named Wellbore Completion (a WITSML object with physical details of a completion), (iii) a named well (a WITSML object), (iv) a named Reporting Entity (which is a generic object to represent a location for flow reporting in the PRODML Simple Product Volume Reporting schema), or (v) a Probe on a wireline or LWD formation tester tool, in which case it has single Probe Depth and Probe Diameter.

A wellbore + MD Interval, or a wellbore completion option would be expected for most tests.  The well, or well completion options could be used for a test commingling flow multiple wellbores or completions.  See the WITSML documentation for Completion for more details. The Reporting Entity option could be used for the testing of some less common combination of sources, eg a cluster of wells.

NOTE that well, wellbore, well completion, wellbore completion and reporting entity elements are all Data Object References (see Energistics Common documentation). These are used to reference separate data objects which fully describe the real-world facilities concerned. 

However, it is not necessary for the separate data object to exist. The elements can be used as follows:

- The Title element of the data object reference class is used to identify the name of the real-world facility, eg the well name, as a text string.  

- The mandatory Content Type element would contain the class of the referenced object (the same as the element name). 

- The mandatory  UUID String can contain any dummy uuid-like string.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Wellbore" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A reference, using data object reference, to the Wellbore which represents this flowing interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MdInterval" type="eml:MdInterval" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A reference, using data object reference, to the MdInterval which represents this flowing interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WellboreCompletion" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A reference, using data object reference, to the WellboreCompletion which represents this flowing interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Well" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A reference, using data object reference, to the Well which represents this flowing interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WellCompletion" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A reference, using data object reference, to the WellCompletion which represents this flowing interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReportingEntity" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A reference, using data object reference, to the ReportingEntity which represents this flowing interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Remark" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Textual description about the value of this field.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProbeDepth" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The depth of a probe if this is the connection to reservoir in a wireline or LWD formation tester tool. A single depth rather than a range.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProbeDiameter" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The diameter of a probe if this is the connection to reservoir in a wireline or LWD formation tester tool. The probe diameter governs the area open to flow from the formation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Datum" type="eml:ReferencePointKind" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Textual description about the value of this field.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FlowTestMeasurementSet">
		<xs:annotation>
			<xs:documentation>This contains all the measurements associated with flow and/or measurements at one interval, e.g., a Wireline Formation Tester Station, a Drill Stem Test, a Rate Transient data set.

There is a mandatory Location. There are any number of Test Periods. There are any number of Time Series of data, each of which contains point data in a Channel data object.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Remark" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Textual description about the value of this field.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TestPeriod" type="prodml:TestPeriod" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Test conditions for a production well test.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Location" type="prodml:FlowTestLocation" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describes the location of the reservoir connection from which pressure and/or flow are being measured. 

BUSINESS RULE: Can be one of: (i) a named wellbore (a WITSML object) together with a MD Interval; (ii) a named Wellbore Completion (a WITSML object with physical details of a completion), (iii) a named well (a WITSML object), (iv) a named Reporting Entity (which is a generic object to represent a location for flow reporting in the PRODML Simple Product Volume Reporting schema), or (v) a Probe on a wireline or LWD formation tester tool, in which case it has single Probe Depth and Probe Diameter.

A wellbore + MD Interval, or a wellbore completion option would be expected for most tests.  The well, or well completion options could be used for a test commingling flow multiple wellbores or completions.  See the WITSML documentation for Completion for more details. The Reporting Entity option could be used for the testing of some less common combination of sources, eg a cluster of wells.

NOTE that well, wellbore, well completion, wellbore completion and reporting entity elements are all Data Object References (see Energistics Common documentation). These are used to reference separate data objects which fully describe the real-world facilities concerned. 

However, it is not necessary for the separate data object to exist. The elements can be used as follows:

- The Title element of the data object reference class is used to identify the name of the real-world facility, eg the well name, as a text string.  

- The mandatory Content Type element would contain the class of the referenced object (the same as the element name). 

- The mandatory  UUID String can contain any dummy uuid-like string.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherData" type="prodml:OtherData" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MeasuredFlowRate" type="prodml:AbstractPtaFlowData" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MeasuredPressure" type="prodml:MeasuredPressureData" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="FluidComponentCatalog" type="prodml:FluidComponentCatalog" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fluid component catalog.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="optional" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of the object.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FormationTesterStation">
		<xs:annotation>
			<xs:documentation>Performed using formation tester tools conveyed on wireline, one interval at a time. A normal job would consist of multiple interval tests, each is represented by its own Flow Test Activity, which are collected in the Flow Test Job. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:FlowTestActivity">
				<xs:sequence>
					<xs:element name="TieInLog" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>References a log containing a wireline formation test  tie-in (e.g. gamma ray curve) vs. depth data.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IntervalMeasurementSet" type="prodml:FlowTestMeasurementSet" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InjectionFlowTest">
		<xs:annotation>
			<xs:documentation>Regularly  performed using the well's permanent production string,  as a steady-state test to assess long-term well performance and as an input for reservoir management. Optionally, this is can include  a transient test, normally a fall-off test.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:FlowTestActivity">
				<xs:sequence>
					<xs:element name="Validated" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A flag which is to be set if this test is validated and therefore able to used in processes such as production allocation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WellTestMethod" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Description or name of the method used to conduct the well test.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EffectiveDate" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The date and time from which this well test is used in production allocation processes as representative of the well’s performance</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IntervalMeasurementSet" type="prodml:FlowTestMeasurementSet" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InterwellTest">
		<xs:annotation>
			<xs:documentation>Performed on multiple  wellbores, where an interval in one wellbore is flowing and one or more intervals in other wellbores are observing the interfering pressure. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:FlowTestActivity">
				<xs:sequence>
					<xs:element name="IntervalMeasurementSet" type="prodml:FlowTestMeasurementSet" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherData">
		<xs:annotation>
			<xs:documentation>Other flow data measurements</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractFlowTestData">
				<xs:sequence>
					<xs:element name="DataChannel" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Channel containing the Data.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProductionFlowTest">
		<xs:annotation>
			<xs:documentation>Regularly  performed using the well's permanent production string,  as a steady-state test to assess long-term well performance and as an input to production allocation. This is NOT expected to be a transient test. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:FlowTestActivity">
				<xs:sequence>
					<xs:element name="Validated" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A flag which is to be set if this test is validated and therefore able to used in processes such as production allocation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WellTestMethod" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Description or name of the method used to conduct the well test.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EffectiveDate" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The date and time from which this well test is used in production allocation processes as representative of the well’s performance</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IntervalMeasurementSet" type="prodml:FlowTestMeasurementSet" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProductionTransientTest">
		<xs:annotation>
			<xs:documentation>Typically performed using the well's permanent production string,  one interval at a time.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:FlowTestActivity">
				<xs:sequence>
					<xs:element name="IntervalMeasurementSet" type="prodml:FlowTestMeasurementSet" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProductRate">
		<xs:annotation>
			<xs:documentation>The production rate of the product.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProductFluidKind" type="prodml:ProductFluidKindExt" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Information about the product that the product quantity represents. See enum ProductFluidKind (in the ProdmlCommon package). </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MassFlowRate" type="eml:MassPerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mass flow rate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolumeFlowRate" type="eml:FlowRateValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume flow rate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Remark" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Remarks and comments about this data item.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ProductFluidReference" use="optional" type="eml:String64">
			<xs:annotation>
				<xs:documentation>A reference (using uid) to a fluid component contained in the Fluid Component Catalog.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TestPeriod">
		<xs:annotation>
			<xs:documentation>Test conditions for a production well test. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StartTime" type="eml:TimeStamp" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date and time when the test  began.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndTime" type="eml:TimeStamp" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date and time when the test  began.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TestPeriodKind" type="prodml:TestPeriodKind" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The duration of the test.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WellFlowingCondition" type="prodml:WellFlowingCondition" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The duration of the test.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Remark" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Remarks and comments about this data item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductRate" type="prodml:ProductRate" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The production rate of the product.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="optional" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of the object.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="VerticalInterferenceTest">
		<xs:annotation>
			<xs:documentation>Performed on multiple intervals in the same wellbore, where one interval is flowing and one or more intervals are observing the interfering pressure. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:FlowTestActivity">
				<xs:sequence>
					<xs:element name="TieInLog" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>References a log containing a wireline formation test  tie-in (e.g. gamma ray curve) vs. depth data.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IntervalMeasurementSet" type="prodml:FlowTestMeasurementSet" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WaterLevelTest">
		<xs:annotation>
			<xs:documentation>The test to monitor the water level, sometimes required for regulatory purpose. For example, see TxRRC H-15. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:FlowTestActivity">
				<xs:sequence>
					<xs:element name="IntervalMeasurementSet" type="prodml:FlowTestMeasurementSet" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WellFlowingCondition">
		<xs:annotation>
			<xs:documentation>Describes key conditions of the flowing well during a production well test. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ChokeOrificeSize" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The choke diameter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BottomHolePressureDatumMd" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The measure depth datum for which the bottomhole pressure is reported.  This will later be converted to a TVD for reservoir engineering purpose.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BottomHoleStabilizedPressure" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The pressure at the bottom of the hole under stabilized conditions (typically at the end of the flowing period).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BottomHoleStabilizedTemperature" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The temperature at the bottom of the hole under stabilized conditions (typically at the end of the flowing period).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CasingHeadStabilizedPressure" type="eml:AbstractPressureValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The pressure at the casing head under stabilized conditions (typically at the end of the flowing period).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CasingHeadStabilizedTemperature" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The temperature at the casing head under stabilized conditions (typically at the end of the flowing period).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TubingHeadStabilizedPressure" type="eml:AbstractPressureValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The pressure at the tubing head under stabilized conditions (typically at the end of the flowing period).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TubingHeadStabilizedTemperature" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The temperature at the tubing head under stabilized conditions (typically at the end of the flowing period). </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidLevel" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The fluid level achieved in the well. The value is given as length units from the well vertical datum.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BaseUsableWater" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The lowest usable water depth as measured from the surface. See TxRRC H-15.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
