docker/data/xsd/energyml/prodml/v2.2/xsd_schemas/PtaParameters.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/prodmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:prodml="http://www.energistics.org/energyml/data/prodmlv2" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" elementFormDefault="qualified" version="2.2" attributeFormDefault="unqualified">
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics Product License Agreement at
			http://www.energistics.org/product-license-agreement
			Use of this file constitutes agreement with the Energistics Product License Agreement.
			Copyright (c) 2021 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
	<xs:annotation>
		<xs:documentation>Pta parameters</xs:documentation>
	</xs:annotation>
	<!--														-->
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.3/xsd_schemas/EmlAllObjects.xsd"/>
	<!--														-->
	<xs:include schemaLocation="ProdmlCommon.xsd"/>
	<xs:simpleType name="Boundary1Type">
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="constant pressure"/>
			<xs:enumeration value="no-flow"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Boundary2Type">
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="constant pressure"/>
			<xs:enumeration value="no-flow"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Boundary3Type">
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="constant pressure"/>
			<xs:enumeration value="no-flow"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Boundary4Type">
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="constant pressure"/>
			<xs:enumeration value="no-flow"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FractureModelType">
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="compressible finite conductivity"/>
			<xs:enumeration value="finite conductivity"/>
			<xs:enumeration value="infinite conductivity"/>
			<xs:enumeration value="uniform flux"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LowerBoundaryType">
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="constant pressure"/>
			<xs:enumeration value="no-flow"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ParameterDirection">
		<xs:annotation>
			<xs:documentation>Choice of whether a result parameter is an input or an output. Input means "this parameter was fixed and is an input to the analysis" and Output means "parameter was determined by the analysis".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="input"/>
			<xs:enumeration value="output"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UpperBoundaryType">
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="constant pressure"/>
			<xs:enumeration value="no-flow"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WellboreStorageMechanismType">
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="closed chamber"/>
			<xs:enumeration value="full well"/>
			<xs:enumeration value="rising level"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AbstractParameter" abstract="true">
		<xs:annotation>
			<xs:documentation>Abstract for a single parameter relating to a pressure transient analysis. Collected together in Result Section Models. Eg, all the parameters needed for a closed boundary model will be found in the ClosedRectangleModel.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SourceResultRefID" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is a reference to a different Result, which is the source for this parameter. It therefore only applies when the Direction is "input". Example: an estimate for permeability may be obtained in one result and then used as input to constrain a second result, such as one estimating distance to a fault. In this case, the second result would show "input" direction for permeability parameter, and its SourceResultRefID would point to the first result from which permeability was obtained.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Remark" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Textual description about the value of this field.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of the object.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AngleBetweenBoundaries">
		<xs:annotation>
			<xs:documentation>In a boundary model with two Intersecting Faults, the angle of intersection. 90 degress indicates two boundaries which are normal to each other.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="AngleBetweenBoundaries"/>
					<xs:element name="Angle" type="eml:PlaneAngleMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AveragePressure">
		<xs:annotation>
			<xs:documentation>The average pressure of the fluids in the reservoir layer. "Average" is taken to refer to "at the time at which the rate history used in the pressure transient analysis ends".</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Pbar"/>
					<xs:element name="Pressure" type="eml:PressureMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ConvergenceSkinRelativeToTotalThickness">
		<xs:annotation>
			<xs:documentation>Dimensionless value, characterizing the restriction to flow (+ve value, convergence) or additional capacity for flow (-ve value, fractured or horizontal wellbore) owing to the geometry of the wellbore connection to reservoir. This value is stated with respect to radial flow using the full reservoir thickness (h), ie the radial flow or middle time region of a pressure transient. It therefore can be added to "MechancialSkinRelativeToTotalThickness" to yield the "SkinRelativeToTotalThickness".</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Sconv"/>
					<xs:element name="Value" type="eml:DimensionlessMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CustomParameter">
		<xs:annotation>
			<xs:documentation>A single custom parameter relating to a pressure transient analysis.  This type can be added in the Custom model section elements (for wellbore, near wellbore, reservoir and boundary sections of the PTA model), or in a Specialized Analysis.  The custom parameter is to enable extensibility beyond the types of parameter built in to the schema.  It has to have a name (for the parameter, eg "AlphaPressure"), an abbreviation (eg "AP") and a measure value using the generalMeasureType. This type does not enforce restricted units of measure but a uom needs to be specified which it is assumed will be used to work out what dimensional type this parameter belongs to.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Name" type="eml:String64" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The name of the parameter. Expected to be one of the name elements of the parameters in the parameterTypeSet of the "Models loader file" xml.  The parameter names expected are those listed as "parameter" under the model within the category of the appropriate result section.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The abbreviation of the parameter. Expected to be one of the abbreviation elements of the parameters in the parameterTypeSet of the "Models loader file" xml. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MeasureValue" type="prodml:GeneralMeasureType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The value of the parameter. The measurement kind (length etc) is not known since it will vary according to parameter type. The UoM attribute is expected to match those for the measure class element for this Parameter as specified in the "Model loader file" xml for the parameterType concerned.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeltaPressureTotalSkin">
		<xs:annotation>
			<xs:documentation>The pressure drop caused by the total skin factor. Equal to the difference in pressure at the wellbore between what was observed at a flowrate and what would be observed if the radial flow regime in the reservoir persisted right into the wellbore. The reference flowrate will be the stable flowrate used to analyse a drawdown, or the stable last flowrate preceding a buildup.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="dP Skin"/>
					<xs:element name="Pressure" type="eml:PressureMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeltaTimeStorageChanges">
		<xs:annotation>
			<xs:documentation>In models in which the wellbore storage coefficient changes, the time at which the intial wellbore storage coefficient changes to the final coefficient.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="dT"/>
					<xs:element name="Time" type="eml:TimeMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DistanceFractureToBottomBoundary">
		<xs:annotation>
			<xs:documentation>For a horizontal ("pancake") induced hydraulic fracture, the distance between the plane of the fracture and the lower boundary of the layer.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Zf"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DistanceMidFractureHeightToBottomBoundary">
		<xs:annotation>
			<xs:documentation>For a hydraulic fracture, the distance between the mid-height level of the fracture and the lower boundary of the layer.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Zf"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DistanceMidPerforationsToBottomBoundary">
		<xs:annotation>
			<xs:documentation>For a partial penetration (a vertical or slant well with less than full layer thickness open to flow) , the distance from the mid-perforation point to the bottom boundary of the layer.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Zp"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DistanceToBoundary1">
		<xs:annotation>
			<xs:documentation>In any bounded reservoir model, the distance to the Boundary 1. The orientation of this can be thought of conceptually (ie in relationship to other boundaries in the model, not literally) as "East".</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="L1"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DistanceToBoundary2">
		<xs:annotation>
			<xs:documentation>In any bounded reservoir model, the distance to the Boundary 2. The orientation of this can be thought of conceptually (ie in relationship to other boundaries in the model, not literally) as "North".</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="L2"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DistanceToBoundary3">
		<xs:annotation>
			<xs:documentation>In any bounded reservoir model, the distance to the Boundary 3. The orientation of this can be thought of conceptually (ie in relationship to other boundaries in the model, not literally) as "West".</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="L3"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DistanceToBoundary4">
		<xs:annotation>
			<xs:documentation>In any bounded reservoir model, the distance to the Boundary 4. The orientation of this can be thought of conceptually (ie in relationship to other boundaries in the model, not literally) as "South".</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="L4"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DistanceToMobilityInterface">
		<xs:annotation>
			<xs:documentation>In a Radial or Linear Composite model, the distance to the boundary of the inner and outer zones.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Li"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DistanceToPinchOut">
		<xs:annotation>
			<xs:documentation>In a model where the reservoir model is a Pinch Out, the distance from the wellbore to the pinch-out.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Lpinch"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DistanceWellboreToBottomBoundary">
		<xs:annotation>
			<xs:documentation>For a horizontal wellbore model, the distance between the horizontal wellbore and the lower boundary of the layer.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Zw"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DrainageAreaMeasured">
		<xs:annotation>
			<xs:documentation>In a closed reservoir model, the Drainage Area measured. This is to be taken to mean that the analysis yielded a measurement, as opposed to the RadiusOfInvestigation or PoreVolumeOfInvestigation Parameters which are taken to mean the estimates for these parameters derived from diffuse flow theory, but not necessarily measured.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="A"/>
					<xs:element name="Area" type="eml:AreaMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FaultConductivity">
		<xs:annotation>
			<xs:documentation>In a Linear Composite model where the boundary of the inner and outer zones is a leaky and conductive fault, the fault conductivity (ie along the face of the fault).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Fc"/>
					<xs:element name="PermeabilityLength" type="eml:PermeabilityLengthMeasureExt" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FluidDensity">
		<xs:annotation>
			<xs:documentation>The density of the fluid in the wellbore, generally used for estimations of wellbore storage when the tubing is filling up.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Rho"/>
					<xs:element name="Density" type="eml:MassPerVolumeMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FractureAngleToWellbore">
		<xs:annotation>
			<xs:documentation>For a multiple fractured horizontal wellbore model, the angle at which fractures intersect the wellbore. A value of 90 degrees indicates the fracture plane is normal to the wellbore trajectory.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="FractureAngleToWellbore"/>
					<xs:element name="Angle" type="eml:PlaneAngleMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FractureConductivity">
		<xs:annotation>
			<xs:documentation>For an induced hydraulic fracture, the conductivity of the fracture, equal to Fracture Width * Fracture Permeability</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Fc"/>
					<xs:element name="PermeabilityLength" type="eml:PermeabilityLengthMeasureExt" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FractureFaceSkin">
		<xs:annotation>
			<xs:documentation>Dimensionless value, characterizing the restriction to flow (+ve value, damage) or additional capacity for flow (-ve value, eg acidized) due to effective permeability across the face of a hydraulic fracture, ie controlling flow from reservoir into fracture. This value is stated with respect to radial flow using the full reservoir thickness (h), ie the radial flow or middle time region of a pressure transient. It therefore can be added, in a fractured well, to "ConvergenceSkinRelativeToTotalThickness" skin to yield  "SkinRelativeToTotalThickness".</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Sf"/>
					<xs:element name="Value" type="eml:DimensionlessMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FractureHalfLength">
		<xs:annotation>
			<xs:documentation>The half length of an induced hydraulic fracture, measured from the wellbore to the tip of one "wing" of the fracture.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Xf"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FractureHeight">
		<xs:annotation>
			<xs:documentation>In any vertical hydraulic fracture model (including the cases where the wellbore can be vertical or horizontal), the height of the fractures. In the case of a vertical wellbore, the fractures are assumed to extend an equal distance above and below the mid perforations depth, given by the parameter "DistanceMidPerforationsToBottomBoundary". In the case of a horizontal wellbore, the fractures are assumed to extend an equal distance above and below the wellbore.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Hf"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FractureRadius">
		<xs:annotation>
			<xs:documentation>For a horizontal ("pancake") induced hydraulic fracture, which is assumed to be circular in shape in the horizontal plane, the radius of the fracture.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="abbreviation" type="xs:string" minOccurs="1" maxOccurs="1" fixed="Rf"/>
					<xs:element name="length" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FractureStorativityRatio">
		<xs:annotation>
			<xs:documentation>Dimensionless Value characterizing the fraction of the pore volume occupied by the fractures to the total of pore volume of (fractures plus reservoir).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="etaD"/>
					<xs:element name="Value" type="eml:DimensionlessMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HorizontalAnisotropyKxToKy">
		<xs:annotation>
			<xs:documentation>The Horizontal Anisotropy of permeability, K(x direction)/K(y direction). Optional since many models do not account for this parameter.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="kxToky"/>
					<xs:element name="Value" type="eml:DimensionlessMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HorizontalRadialPermeability">
		<xs:annotation>
			<xs:documentation>The radial permeability of the reservoir layer in the horizontal plane.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="K"/>
					<xs:element name="Permeability" type="eml:PermeabilityRockMeasureExt" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InitialPressure">
		<xs:annotation>
			<xs:documentation>The initial pressure of the fluids in the reservoir layer. "Initial" is taken to mean "at the time at which the rate history used in the pressure transient analysis starts"</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Pi"/>
					<xs:element name="Pressure" type="eml:PressureMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InnerToOuterZoneDiffusivityRatio">
		<xs:annotation>
			<xs:documentation>In a Radial or Linear Composite model, the diffusivity (permeability/(porosity*viscosity*total compressibility) ratio of inner zone/outer zone.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="D"/>
					<xs:element name="Value" type="eml:DimensionlessMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InnerToOuterZoneMobilityRatio">
		<xs:annotation>
			<xs:documentation>In a Radial or Linear Composite model, the mobility (permeability/viscosity) ratio of inner zone/outer zone.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="M"/>
					<xs:element name="Value" type="eml:DimensionlessMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InterporosityFlowParameter">
		<xs:annotation>
			<xs:documentation>The dimensionless interporosity flow parameter, known as Lambda. In dual porosity, represents the ability of the matrix to flow into the fissure network. In dual permeability or other multi-layer cases, represents the ability of flow to move from one layer to another.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Lambda"/>
					<xs:element name="Value" type="eml:DimensionlessMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Layer2Thickness">
		<xs:annotation>
			<xs:documentation>In a two-layer model, the Thickness (h) of layer 2.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="h layer 2"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LeakSkin">
		<xs:annotation>
			<xs:documentation>In Spivey (a) Packer and (c) Fissure models of wellbore storage, the Leak Skin controls the pressure communication through the packer (a), or between the wellbore and the high permeability region (b - second application of model a), or between the high permeability channel/fissures and the reservoir (c). In  case c, the usual Skin parameter characterizes the pressure communication between the wellbore and the high permeability channel/fissures.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Sl"/>
					<xs:element name="Value" type="eml:DimensionlessMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LengthHorizontalWellboreFlowing">
		<xs:annotation>
			<xs:documentation>For a horizontal wellbore model, the length of the flowing section of the wellbore.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="hw"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MechanicalSkinRelativeToTotalThickness">
		<xs:annotation>
			<xs:documentation>Dimensionless value, characterizing the restriction to flow (+ve value, damage) or additional capacity for flow (-ve value, eg acidized) due to effective permeability around the wellbore. This value is stated with respect to radial flow using the full reservoir thickness (h), ie the radial flow or middle time region of a pressure transient. It therefore can be added to "ConvergenceSkinRelativeToTotalThickness" skin to yield  "SkinRelativeToTotalThickness".</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Smech"/>
					<xs:element name="Value" type="eml:DimensionlessMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ModelName">
		<xs:annotation>
			<xs:documentation>The name of the model. Available only for Custom Models to identify name of the model.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="ModelName"/>
					<xs:element name="Name" type="eml:String64" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NumberOfFractures">
		<xs:annotation>
			<xs:documentation>For a multiple fractured horizontal wellbore model, the number of fractures which originate from the wellbore. In a "HorizontalWellboreMultipleEqualFracturedModel" these fractures are identical and equally spaced, including one fracture at each end of the length represented by "LengthHorizontalWellboreFlowing".</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Nf"/>
					<xs:element name="Number" type="xs:integer" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrientationOfAnisotropyXDirection">
		<xs:annotation>
			<xs:documentation>In the case where there is horizontal anisotropy, the orientation of the x direction represented in the local CRS.  Optional since many models do not account for this parameter.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="OrientationOfAnisotropy_XDirection"/>
					<xs:element name="Angle" type="eml:PlaneAngleMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrientationOfFracturePlane">
		<xs:annotation>
			<xs:documentation>For an induced hydraulic fracture which is assumed for PTA purposes to be planar, the azimuth of the fracture in the horizontal plane represented in the CRS.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="OrientationOfFracturePlane"/>
					<xs:element name="Angle" type="eml:PlaneAngleMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrientationOfLinearFront">
		<xs:annotation>
			<xs:documentation>In a Linear Composite model, the orientation of the boundary of the inner and outer zones represented in the local CRS.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="OrientationOfLinearFront"/>
					<xs:element name="Angle" type="eml:PlaneAngleMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrientationOfNormalToBoundary1">
		<xs:annotation>
			<xs:documentation>In any bounded reservoir model, the orientation of the normal to Boundary 1. This is an absolute orientation in the local CRS.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="OrientationOfNormalToBoundary1"/>
					<xs:element name="Angle" type="eml:PlaneAngleMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrientationWellTrajectory">
		<xs:annotation>
			<xs:documentation>For a slant wellbore or horizontal wellbore model, the azimuth of the wellbore in the horizontal plane, represented in the local CRS. This is intended to be a value representative of the azimuth for the purposes of PTA. It is not necessarily the azimuth which would be recorded in a survey of the wellbore trajectory.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="OrientationWellTrajectory"/>
					<xs:element name="Angle" type="eml:PlaneAngleMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PerforatedLength">
		<xs:annotation>
			<xs:documentation>For a partial penetration (a vertical or slant well with less than full layer thickness open to flow) or a hydraulically fractured model, the length of the perforated section of the wellbore.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="hp"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PermeabilityThicknessProduct">
		<xs:annotation>
			<xs:documentation>The product of the radial permeability of the reservoir layer in the horizontal plane * the total thickness of the layer.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="k.h"/>
					<xs:element name="PermeabilityLength" type="eml:PermeabilityLengthMeasureExt" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PoreVolumeMeasured">
		<xs:annotation>
			<xs:documentation>In a closed reservoir model, the Pore Volume measured. This is to be taken to mean that the analysis yielded a measurement, as opposed to the RadiusOfInvestigation or PoreVolumeOfInvestigation Parameters which are taken to mean the estimates for these parameters derived from diffuse flow theory, but not necessarily measured.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="PVmeas"/>
					<xs:element name="Volume" type="eml:VolumeMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PoreVolumeOfInvestigation">
		<xs:annotation>
			<xs:documentation>For any transient test, the estimated pore volume of investigation of the test.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="PVinv"/>
					<xs:element name="Volume" type="eml:VolumeMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Porosity">
		<xs:annotation>
			<xs:documentation>The porosity of the reservoir layer.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Phi"/>
					<xs:element name="VolumePerVolume" type="eml:VolumePerVolumeMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PressureDatumTVD">
		<xs:annotation>
			<xs:documentation>The depth TVD of the datum at which reservoir pressures are reported for this layer. Note, this depth may not exist inside the layer at the Test Location but it is the reference depth to which pressures will be corrected.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="datum"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RadiusOfInvestigation">
		<xs:annotation>
			<xs:documentation>For any transient test, the estimated radius of investigation of the test.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Ri"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RateDependentSkinFactor">
		<xs:annotation>
			<xs:documentation>Value characterizing the rate at which an apparent skin effect, due to additional pressure drop, due to turbulent flow, grows as a function of flowrate.  The additional flowrate-dependent Skin is this value D * Flowrate. The total measured Skin factor would then be S + DQ, where Q is the flowrate.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="D"/>
					<xs:element name="InverseFlowrate" type="eml:TimePerVolumeMeasureExt" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RatioDpSkinToTotalDrawdown">
		<xs:annotation>
			<xs:documentation>The ratio of the DeltaPressureTotalSkin to the total drawdown pressure. Indicates the fraction of the total pressure drawdown due to completion effects such as convergence, damage, etc.  The remaining pressure drop is due to radial flow in the reservoir.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Ratio dP Skin To Total"/>
					<xs:element name="Value" type="eml:DimensionlessMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RatioInitialToFinalWellboreStorage">
		<xs:annotation>
			<xs:documentation>In models in which the wellbore storage coefficient changes, the ratio of intial to final wellbore storage coefficients.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Ci/Cs"/>
					<xs:element name="Value" type="eml:DimensionlessMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RatioLayer1ToTotalPermeabilityThicknessProduct">
		<xs:annotation>
			<xs:documentation>In a two-layer model, the ratio of layer 1 to the total PermeabilityThickness.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Kappa"/>
					<xs:element name="Value" type="eml:DimensionlessMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Region2Thickness">
		<xs:annotation>
			<xs:documentation>In a Linear Composite model where the thickness of the inner and outer zones is different, the thickness h of the outer region (2).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="h region 2"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SkinLayer2RelativeToTotalThickness">
		<xs:annotation>
			<xs:documentation>In a two-layer model with both layers flowing into the wellbore, the skin factor of the second layer. This value is stated with respect to radial flow using the full layer thickness (h), ie the "reservoir radial flow" or "middle time region" of a pressure transient.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="S2"/>
					<xs:element name="Value" type="eml:DimensionlessMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SkinRelativeToTotalThickness">
		<xs:annotation>
			<xs:documentation>Dimensionless value, characterizing the restriction to flow (+ve value) or extra capacity for flow (-ve value) into the wellbore. This value is stated with respect to radial flow using the full layer thickness (h), ie the "reservoir radial flow" or "middle time region" of a pressure transient. It comprises the sum of "MechanicalSkinRelativeToTotalThickness" and  "ConvergenceSkinRelativeToTotalThickness" both of which also are expressed in terms of h.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="S"/>
					<xs:element name="Value" type="eml:DimensionlessMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StorativityRatio">
		<xs:annotation>
			<xs:documentation>The dimensionless storativity ratio, known as Omega equal to the fracture storativity divided by total storativity.  Storativity = porosity * total compressibility.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Omega"/>
					<xs:element name="Value" type="eml:DimensionlessMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TotalThickness">
		<xs:annotation>
			<xs:documentation>The total thickness of the layer of reservoir layer.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="h"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TransmissibilityReductionFactorOfLinearFront">
		<xs:annotation>
			<xs:documentation>The transmissibility reduction factor of a fault in a Linear Composite model where the boundary of the inner and outer zones is a leaky fault. If T is the complete transmissibility which would be computed without any fault between point A and point B (T is a function of permeability, etc), then Tf = T * leakage. Therefore: leakage = 1 implies that the fault is not a barrier to flow at all, leakage = 0 implies that the fault is sealing (no transmissibility anymore at all between points A and B).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="abbreviation" type="xs:string" minOccurs="1" maxOccurs="1" fixed="Leakage"/>
					<xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TubingInteralDiameter">
		<xs:annotation>
			<xs:documentation>Internal diameter of the tubing, generally used for estimations of wellbore storage when the tubing is filling up.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="ID"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VerticalAnisotropyKvToKr">
		<xs:annotation>
			<xs:documentation>The Vertical Anisotropy of permeability, K(vertical)/K(radial). K(radial) is the effective horizontal permeability, which in anisotropic horizontal permeability equals square root (Kx^2+Ky^2). Optional since many models do not account for this parameter. It will be mandatory in some models however, e.g. limited entry or horizontal wellbore models.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="kvTokr"/>
					<xs:element name="Value" type="eml:DimensionlessMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WellboreDeviationAngle">
		<xs:annotation>
			<xs:documentation>The angle of deviation from vertical of the wellbore, generally used for estimations of wellbore storage when the tubing is filling up.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Deviation"/>
					<xs:element name="PlaneAngle" type="eml:PlaneAngleMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WellboreFluidCompressibility">
		<xs:annotation>
			<xs:documentation>The compressibility of the fluid in the wellbore, such that this value * wellbore volume = wellbore storage coefficient.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Cw"/>
					<xs:element name="Compressibility" type="eml:ReciprocalPressureMeasureExt" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WellboreRadius">
		<xs:annotation>
			<xs:documentation>The radius of the wellbore, generally taken to represent the open hole size.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Rw"/>
					<xs:element name="Length" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WellboreStorageCoefficient">
		<xs:annotation>
			<xs:documentation>The wellbore storage coefficient equal to the volume which flows into the wellbore per unit change in pressure in the wellbore. NOTE that by setting this parameter to = 0, the model becomes equivalent to a "No Wellbore Storage" model.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Cs"/>
					<xs:element name="VolumePerPressure" type="eml:VolumePerPressureMeasureExt" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WellboreVolume">
		<xs:annotation>
			<xs:documentation>The volume of the wellbore equipment which influences the wellbore storage. It will be sum of volumes of all components open to the reservoir up to the shut off valve.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prodml:AbstractParameter">
				<xs:sequence>
					<xs:element name="Abbreviation" type="eml:String64" minOccurs="1" maxOccurs="1" fixed="Vw"/>
					<xs:element name="Volume" type="eml:VolumeMeasure" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
