docker/data/xsd/energyml/resqml/v2.2/xsd_schemas/Representations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/resqmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:resqml="http://www.energistics.org/energyml/data/resqmlv2" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" elementFormDefault="qualified" version="2.2" attributeFormDefault="unqualified">
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics Product License Agreement at
			http://www.energistics.org/product-license-agreement
			Use of this file constitutes agreement with the Energistics Product License Agreement.
			Copyright (c) 2021 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
	<xs:annotation>
		<xs:documentation>This package contains the main classes used to define and exchange representation data in RESQML. Other packages in RESQML also define representations and may leverage objects in this Representation package; those other packages include:
	- Grids
	- Structural
	- Wells
	- Seismic
	- Streamlines
A representation refers to a digital description of a feature or interpretation. For example, currently in RESQML, a horizon interpretation may be represented by a point set, a set of triangulated surfaces, or a set of orthogonal grids.
A representation has two distinct and complementary roles in RESQML: 
	- It is an important component of the feature/interpretation/representation/property knowledge hierarchy where it corresponds to a 3D modeling expression of a feature that was initialized at the beginning of a business process. For example, the same horizon feature-interpretation can have a 2D grid representation or a triangulated set representation.
	- It supports the geometry and properties of data-objects in RESQML. The geometry of a representation is contained within the representation, while properties may be attached to the representation. Each property is “attached” to the indexable elements of a representation, which may be as simple as the nodes on a single triangulated surface or as complex as the cell, nodes, faces, pillars, coordinate lines, columns, etc., for a 3D grid.</xs:documentation>
	</xs:annotation>
	<!--														-->
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.3/xsd_schemas/EmlAllObjects.xsd"/>
	<!--														-->
	<xs:include schemaLocation="Grids.xsd"/>
	<xs:include schemaLocation="Geometry.xsd"/>
	<xs:simpleType name="IdentityKind">
		<xs:annotation>
			<xs:documentation>Enumeration of the identity kinds for the element identities (ElementIdentity).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="collocation">
				<xs:annotation>
					<xs:documentation>A set of (sub)representations is collocated if there is bijection between the simple elements of all of the participating (sub)representations. This definition implies there is the same number of simple elements. 
NOTE: The geometric location of each set of simple elements mapped through the bijection is intended to be identical even if the numeric values of the associated geometries differ, i.e., due to loss of spatial resolution.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="previous collocation">
				<xs:annotation>
					<xs:documentation>The participating (sub)representations were collocated at some time in the geologic past—but not necessarily in the present day earth model.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="equivalence">
				<xs:annotation>
					<xs:documentation>A set of (sub)representations is equivalent if there is a map giving an association between some of the simple topological elements of the participating (sub)representations.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="previous equivalence">
				<xs:annotation>
					<xs:documentation>The participating (sub)representations were equivalent at some time in the geologic past—but not necessarily in the present day earth model.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AbstractRepresentation" abstract="true">
		<xs:annotation>
			<xs:documentation>The parent class of all specialized digital descriptions, which may provide a representation of any kind of representable object such as interpretations, technical features, or WITSML wellbores. It may be either of these:
	- based on a topology and contains the geometry of this digital description.
	- based on the topology or the geometry of another representation.

Not all representations require a defined geometry. For example, a defined geometry is not required for block-centered grids or wellbore frames. For representations without geometry, a software writer may provide null (NaN) values in the local 3D CRS, which is mandatory.

TimeIndex is provided to describe time-dependent geometry.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="RealizationIndex" type="eml:PositiveLong" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Optional element indicating a realization id (metadata). Used if the representation is created by a stochastic or Monte Carlo method. Representations with the same id are based on the same set of random values.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RepresentedObject" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>BUSINESS RULE: The data object represented by the representation is either an interpretation or a technical feature.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ElementIdentity">
		<xs:annotation>
			<xs:documentation>Indicates the nature of the relationship between 2 or more representations, specifically if they are partially or totally identical. For possible types of relationships, see IdentityKind. 
Commonly used to identify contacts between representations in model descriptions. May also be used to relate the components of a grid (e.g., pillars) to those of a structural framework.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ElementIndices" type="eml:AbstractIntegerArray" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates which elements are identical based on their indices in the (sub)representation.
If not given, then the selected indexable elements of each of the selected representations are identical at the element by element level. 
BUSINESS RULE: The number of identical elements must be equal to identicalElementCount for each representation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentityKind" type="resqml:IdentityKind" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Must be one of the enumerations in IdentityKind.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndexableElement" type="eml:IndexableElement" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FromTimeIndex" type="eml:TimeIndex" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Representation" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ToTimeIndex" type="eml:TimeIndex" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ElementIndices">
		<xs:annotation>
			<xs:documentation>Index into the indexable elements selected.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SupportingRepresentationIndex" type="eml:AbstractIntegerArray" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PolylineSetPatch">
		<xs:annotation>
			<xs:documentation>A Patch containing a set of polylines.

For performance reasons, the geometry of each Patch is described in only one 1D array of 3D points, which aggregates the nodes of all the polylines together.

To be able to separate the polyline descriptions, additional information is added about the type of each polyline (closed or not) and the number of 3D points (node count) of each polyline. 

This additional information is contained in two arrays, which are associated with each polyline set patch. The dimension of these arrays is the number of polylines gathered in one polyline set patch. 
	- The first array contains a Boolean for each polyline (closed or not closed).
	- The second array contains the count of nodes for each polyline.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NodeCount" type="eml:PositiveLong" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total number of nodes.

BUSINESS RULE: Should be equal to the sum of the number of nodes per polyline.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntervalCount" type="eml:NonNegativeLong" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total number of intervals.

BUSINESS RULE: Should be equal to the sum of the count of intervals per polyline.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NodeCountPerPolyline" type="eml:AbstractIntegerArray" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The first number in the list defines the node count for the first polyline in the polyline set patch.
The second number in the list defines the node count for the second polyline in the polyline set patch.
etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClosedPolylines" type="eml:AbstractBooleanArray" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates whether a polyline is closed.

If closed, then the interval count for that polyline is equal to the node count.

If open, then the interval count for that polyline is one less than the node count.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntervalGridCells" type="resqml:IntervalGridCells" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Geometry" type="resqml:PointGeometry" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RepresentationIdentity">
		<xs:annotation>
			<xs:documentation>Indicates the nature of the relationship between 2 or more representations, specifically if they are partially or totally identical. For possible types of relationships, see IdentityKind.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IdenticalElementCount" type="eml:PositiveLong" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of elements within each representation for which a representation identity is specified.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ElementIdentity" type="resqml:ElementIdentity" minOccurs="2" maxOccurs="unbounded"/>
			<xs:element name="AdditionalGridTopology" type="resqml:AdditionalGridTopology" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RepresentationIdentitySet" type="resqml:RepresentationIdentitySet" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="RepresentationIdentitySet">
		<xs:annotation>
			<xs:documentation>A collection of representation identities.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="RepresentationIdentity" type="resqml:RepresentationIdentity" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RepresentationSetRepresentation" type="resqml:RepresentationSetRepresentation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="RepresentationSetRepresentation">
		<xs:annotation>
			<xs:documentation>The parent class of the framework representations. It is used to group together individual representations to represent a “bag” of representations. If the individual representations are all of the same, then you can indicate that the set is homogenous.
These “bags” do not imply any geologic consistency. For example, you can define a set of wellbore frames, a set of wellbore trajectories, a set of blocked wellbores. 
Because the framework representations inherit from this class, they inherit the capability to gather individual representations into sealed and non-sealed surface framework representations, or sealed volume framework representations.
For more information, see the RESQML Technical Usage Guide.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractRepresentation">
				<xs:sequence>
					<xs:element name="IsHomogeneous" type="xs:boolean" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates that all of the selected representations are of a single kind.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Representation" type="eml:DataObjectReference" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SubRepresentation" type="resqml:SubRepresentation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="SubRepresentation">
		<xs:annotation>
			<xs:documentation>An ordered list of indexable elements and/or indexable element pairs of an existing representation. 
Because the representation concepts of topology, geometry, and property values are separate in RESQML, it is now possible to select a range of nodes, edges, faces, or volumes (cell) indices from the topological support of an existing representation to define a sub-representation.
A sub-representation may describe a different feature interpretation using the same geometry or property as the "parent" representation. In this case, the only information exchanged is a set of potentially non-consecutive indices of the topological support of the representation.

Optional additional grid topology is available for grid representations.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractRepresentation">
				<xs:sequence>
					<xs:element name="IndexableElement" type="eml:IndexableElement" minOccurs="1" maxOccurs="1"/>
					<xs:element name="AdditionalGridTopology" type="resqml:AdditionalGridTopology" minOccurs="0" maxOccurs="1"/>
					<xs:element name="SubRepresentationPatch" type="resqml:SubRepresentationPatch" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SubRepresentationPatch">
		<xs:annotation>
			<xs:documentation>Each sub-representation patch has its own list of representation indices, drawn from the supporting representation.

If a list of pairwise elements is required, use two ElementIndices. The count of elements (or pair of elements) is defined in SubRepresentationPatch.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Indices" type="eml:AbstractIntegerArray" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SupportingRepresentation" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
