docker/data/xsd/energyml/resqml/v2.2/xsd_schemas/Wells.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/resqmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:resqml="http://www.energistics.org/energyml/data/resqmlv2" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" elementFormDefault="qualified" version="2.2" attributeFormDefault="unqualified">
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics Product License Agreement at
			http://www.energistics.org/product-license-agreement
			Use of this file constitutes agreement with the Energistics Product License Agreement.
			Copyright (c) 2021 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
	<xs:annotation>
		<xs:documentation>This package contains classes for features, interpretations, representations and related objects used to define and exchange well data in RESQML.
The RESQML description of a well uses a wellbore trajectory representation to describe the geometry of a wellbore, and a wellbore frame to provide the topological support for properties. Wellbore marker frames and blocked wellbores are derived from the wellbore frame.</xs:documentation>
	</xs:annotation>
	<!--														-->
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.3/xsd_schemas/EmlAllObjects.xsd"/>
	<!--														-->
	<xs:include schemaLocation="Grids.xsd"/>
	<xs:include schemaLocation="Geometry.xsd"/>
	<xs:include schemaLocation="Features.xsd"/>
	<xs:include schemaLocation="Representations.xsd"/>
	<xs:include schemaLocation="Interpretations.xsd"/>
	<xs:simpleType name="FluidMarker">
		<xs:annotation>
			<xs:documentation>The various fluids a well marker can indicate.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="gas down to"/>
			<xs:enumeration value="gas up to"/>
			<xs:enumeration value="oil down to"/>
			<xs:enumeration value="oil up to"/>
			<xs:enumeration value="water down to"/>
			<xs:enumeration value="water up to"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GeologicBoundaryKind">
		<xs:annotation>
			<xs:documentation>The various geologic boundaries a well marker can indicate.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="fault"/>
			<xs:enumeration value="geobody"/>
			<xs:enumeration value="horizon"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MdDomain">
		<xs:annotation>
			<xs:documentation>Different types of measured depths. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="driller">
				<xs:annotation>
					<xs:documentation>The original depths recorded while drilling a well or LWD or MWD.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="logger">
				<xs:annotation>
					<xs:documentation>Depths recorded when logging a well, which are in general considered to be more accurate than driller's depth.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="BlockedWellboreRepresentation" type="resqml:BlockedWellboreRepresentation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="BlockedWellboreRepresentation">
		<xs:annotation>
			<xs:documentation>The information that allows you to locate, on one or several grids (existing or planned), the intersection of volume (cells) and surface (faces) elements with a wellbore trajectory (existing or planned).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:WellboreFrameRepresentation">
				<xs:sequence>
					<xs:element name="IntervalGridCells" type="resqml:IntervalGridCells" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CorrectionInformation">
		<xs:annotation>
			<xs:documentation>Occurs only if a correction has been applied on the survey wellbore.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
		<xs:attribute name="CorrectionAverageVelocity" use="optional" default="0" type="xs:double">
			<xs:annotation>
				<xs:documentation>The UOM is composed by:
UOM of the LocalDepth3dCrs of the associated wellbore frame trajectory / UOM of the associated LocalTime3dCrs.

If not used, enter zero. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CorrectionTimeShift" use="optional" default="0" type="xs:double">
			<xs:annotation>
				<xs:documentation>The UOM is the one specified in the LocalTime3dCrs.

If not used, enter zero. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FluidIntervalBoundary">
		<xs:annotation>
			<xs:documentation>This represents a boundary between two intervals where at least one side of the boundary is a fluid.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:MarkerBoundary">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MarkerBoundary">
		<xs:annotation>
			<xs:documentation>Represent interval limits associated with Witsml:WellMarkers.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FluidContact" type="resqml:FluidContact" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FluidMarker" type="resqml:FluidMarker" minOccurs="0" maxOccurs="1"/>
			<xs:element name="GeologicBoundaryKind" type="resqml:GeologicBoundaryKind" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Qualifier" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MarkerSet" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is a DataObjectReference to a WITSML WellboreMarkerSet</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Marker" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is a DataObjectReference to a WITSML WellboreMarker</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Interpretation" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarkerInterval">
		<xs:sequence>
			<xs:element name="Organization" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Interpretation" type="eml:DataObjectReference" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SeismicWellboreFrameRepresentation" type="resqml:SeismicWellboreFrameRepresentation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="SeismicWellboreFrameRepresentation">
		<xs:annotation>
			<xs:documentation>The interpretation of this representation must be a WellboreInterpretation.

The acquisition information such as the time kind (e.g., TWT vs OWT for example) or survey acquisition type (e.g., checkshot vs VSP) should be captured by the associated acquisition activity.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:WellboreFrameRepresentation">
				<xs:sequence>
					<xs:element name="NodeTimeValues" type="eml:AbstractFloatingPointArray" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>BUSINESS RULE: Count must be  equal to the inherited NodeCount.

The direction of the supporting axis is given by the LocalTime3dCrs itself. It is necessary to get this information to know what means positive or negative values.

The values are given with respect to the SeismicReferenceDatum.

The UOM is the one specified in the LocalTime3dCrs.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeismicReferenceDatum" type="xs:double" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>This is the Z value where the seismic time is equal to zero for this survey wellbore frame.

The direction of the supporting axis is given by the LocalTime3dCrs of the associated wellbore trajectory. It is necessary to get the information to know what means a positive or a negative value.

The value is given with respect to the ZOffset of the LocalDepth3dCrs of the associated wellbore trajectory. 

The UOM is the one specified in the LocalDepth3dCrs of the associated wellbore trajectory. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WeatheringVelocity" type="xs:double" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The UOM is composed by:
UOM of the LocalDepth3dCrs of the associated wellbore frame trajectory / UOM of the associated LocalTime3dCrs

Sometimes also called seismic velocity replacement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TvdInformation" type="resqml:TvdInformation" minOccurs="0" maxOccurs="1"/>
					<xs:element name="CorrectionInformation" type="resqml:CorrectionInformation" minOccurs="0" maxOccurs="1"/>
					<xs:element name="LocalTime3dCrs" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StratigraphicIntervalBoundary">
		<xs:annotation>
			<xs:documentation>This represents a stratigraphic boundary between two intervals.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:MarkerBoundary">
				<xs:sequence>
					<xs:element name="ContactConformableAbove" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>This is an optional boolean indicating that the relationship between the boundary and the unit above is conformable. It is typically used as a placeholder for the interpreter to put some information before the association with an organization is made.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ContactConformableBelow" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>This is an optional boolean indicating that the relationship between the boundary and the unit below is conformable. It is typically used as a placeholder for the interpreter to put some information before the association with an organization is made.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TvdInformation">
		<xs:annotation>
			<xs:documentation>Business rule:</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NodeTvdValues" type="eml:AbstractFloatingPointArray" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Count must be equal to count of nodes of the associated wellbore frame.

The direction of the supporting axis is given by the LocalDepth3dCrs itself. It is necessary to get the information to know what are positive or negative values.

The values are given with respect to the TvdDatum, not with respect to the ZOffest of the LocalDepth3dCrs

The UOM is the one specified in the LocalDepth3dCrs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TvdDatum" type="xs:double" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The direction of the supporting axis is given by the LocalDepth3dCrs itself. It is necessary to get the information to know what is a positive or a negative value.

The value is given with respect to the ZOffset of the  LocalDepth3dCrs.

The UOM is the one specified in the LocalDepth3dCrs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TvdReference" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
			<xs:element name="LocalDepth3dCrs" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="WellboreFeature" type="resqml:WellboreFeature" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="WellboreFeature">
		<xs:annotation>
			<xs:documentation>May refer to one of these: 
wellbore. A unique, oriented path from the bottom of a drilled borehole to the surface of the earth. The path must not overlap or cross itself.

borehole. A hole excavated in the earth as a result of drilling or boring operations. The borehole may represent the hole of an entire wellbore (when no sidetracks are present), or a sidetrack extension. A borehole extends from an originating point (the surface location for the initial borehole or kickoff point for sidetracks) to a terminating (bottomhole) point.

sidetrack. A borehole that originates in another borehole as opposed to originating at the surface.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractTechnicalFeature">
				<xs:sequence>
					<xs:element name="WitsmlWellbore" type="resqml:WitsmlWellWellbore" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="WellboreFrameRepresentation" type="resqml:WellboreFrameRepresentation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="WellboreFrameRepresentation">
		<xs:annotation>
			<xs:documentation>Representation of a wellbore that is organized along a wellbore trajectory by its MD values. RESQML uses MD values to associate properties on points and to organize association of properties on intervals between MD points. 

For this particular representation a WITSML v2 Wellbore is considered as a RESQML Technical Feature, meaning that the WITSML v2 Wellbore can be used as the represented data object for this representation.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractRepresentation">
				<xs:sequence>
					<xs:element name="NodeCount" type="eml:PositiveLong" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of nodes. Must be positive.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NodeMd" type="eml:AbstractFloatingPointArray" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>MD values for each node.
BUSINESS RULE: MD values and UOM must be consistent with the trajectory representation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WitsmlLog" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The reference to the equivalent WITSML well log.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Trajectory" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
					<xs:element name="CellFluidPhaseUnits" type="resqml:CellFluidPhaseUnits" minOccurs="0" maxOccurs="1"/>
					<xs:element name="IntervalStratigraphicUnits" type="resqml:IntervalStratigraphicUnits" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="WellboreInterpretation" type="resqml:WellboreInterpretation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="WellboreInterpretation">
		<xs:annotation>
			<xs:documentation>Contains the data describing an opinion of a borehole. This interpretation is relative to one particular well trajectory. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractFeatureInterpretation">
				<xs:sequence>
					<xs:element name="IsDrilled" type="xs:boolean" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Used to indicate that this wellbore has been, or is being, drilled, as opposed to planned wells. One wellbore feature may have multiple wellbore interpretations. 
	- For updated drilled trajectories, use IsDrilled=TRUE. 
	- For planned trajectories, use IsDrilled=FALSE used.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="WellboreIntervalSet" type="resqml:WellboreIntervalSet" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="WellboreIntervalSet">
		<xs:complexContent>
			<xs:extension base="resqml:AbstractRepresentation">
				<xs:sequence>
					<xs:element name="IntervalBoundaries" type="resqml:MarkerBoundary" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="MarkerInterval" type="resqml:MarkerInterval" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WellboreTrajectoryParentIntersection">
		<xs:annotation>
			<xs:documentation>For a wellbore trajectory in a multi-lateral well, indicates the MD of the kickoff point where the trajectory begins and the corresponding MD of the parent trajectory. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KickoffMd" type="xs:double" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>KickoffMd is the measured depth for the start of the child trajectory, as defined within the child.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParentMd" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>If the kickoff MD in the child (KickoffMd) is different from the kickoff MD in the parent (ParentMd), then specify the ParentMD here. If not specified, then these two MD's are implied to be identical.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParentTrajectory" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="WellboreTrajectoryRepresentation" type="resqml:WellboreTrajectoryRepresentation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="WellboreTrajectoryRepresentation">
		<xs:annotation>
			<xs:documentation>Representation of a wellbore trajectory.

For this particular representation a WITSML v2 Wellbore is considered as a RESQML Technical Feature, meaning that the WITSML v2 Wellbore can be used as the represented data object for this representation.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resqml:AbstractRepresentation">
				<xs:sequence>
					<xs:element name="MdInterval" type="eml:MdInterval" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The interval which represents the minimum and maximum values of measured depth for the trajectory.

BUSINESS RULE: For purposes of the trajectory the MdDatum within the MdInterval is mandatory.

BUSINESS RULE: The MdMin must be less than the MdMax within the MdInterval</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomUnitDictionary" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>If the unit of measure of the MdInterval is an extended value, this is a reference to an object containing the custom unit dictionary.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdDomain" type="resqml:MdDomain" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates if the MD is either in “driller” domain or “logger” domain.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WitsmlTrajectory" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Pointer to the WITSML trajectory that is contained in the referenced wellbore. (For information about WITSML well and wellbore references, see the definition for RESQML technical feature, WellboreFeature).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ParentIntersection" type="resqml:WellboreTrajectoryParentIntersection" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Geometry" type="resqml:AbstractParametricLineGeometry" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Explicit geometry is not required for vertical wells</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WitsmlWellWellbore">
		<xs:annotation>
			<xs:documentation>Reference to the WITSML wellbore that this wellbore feature is based on. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WitsmlWell" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
			<xs:element name="WitsmlWellbore" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
